<!-- This is the approval modal -->
<div id='approval_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close btn-close"
                data-dismiss='modal' data-bs-dismiss='modal'
		aria-hidden='true'></button>
        <center><h4>Your request requires approval!</h4></center>
      </div>
      <div class='modal-body'>
        <div id='approval_text'></div>
      </div>
    </div>
  </div>
</div>

