<div class='row'>
  <div class='col-lg-4  col-lg-offset-4 offset-lg-4
              col-md-4  col-md-offset-4 offset-md-4
              col-sm-6  col-sm-offset-3 offset-sm-3
              col-xs-10 col-xs-offset-1 offset-xs-1'>
    <form id='changepswd-form' role='form' method='post'>
      <div class='panel  card panel-default'>
	<div class='panel-heading card-header'>
	  <h5 class='panel-title card-title'>
            <center>Change Password for user '<%- user %>'</center></h5>
	</div>
	<div class='panel-body card-body'>
	  <% if (needold) { %>
	    <div class="form-group">
	      <input name='oldpassword' autofocus
		     value=''
		     class="form-control format-me"
		     data-key="oldpassword"
		     placeholder="Current Password" type="password">
	    </div>
	  <% } %>
	  <div class="form-group">
	    <input name='password1' <% if (!needold) { %>autofocus<% } %>
		   value=''
		   data-key="password1"
		   class='form-control format-me'
		   placeholder='New password'
		   type='password'>
	  </div>
	  <div class="form-group">
	    <input name='password2'
		   data-key="password2"
		   type='password'
		   value=''
		   class='form-control format-me'
		   placeholder='Confirm password'>
	  </div>
	  <center>
	    <button class='btn btn-primary' id="submit-button"
		    type='submit' name='reset'>Reset Password</button>
	  </center>
	  <% if (key) { %>
	    <input type='hidden' name='key' value='<%- key %>'>
	  <% } %>
	  <input type='hidden' name='uid' value='<%- user %>'>
	</div>
      </div>
    </form>
  </div>
</div>
<!-- Finished -->
<div id='success-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Password sucessfully changed</h4></center>
      </div>
    </div>
  </div>
</div>
