<style>
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding-top: 2px;
     padding-bottom: 2px;
 }
</style>
<div class='row'>
  <div class='col-lg-10 col-lg-offset-1
              col-md-10 col-md-offset-1
              col-sm-10 col-sm-offset-1
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Clone Image From Node</h3>
      </div>
      <div class='panel-body'>
	<center>
	  <h4>Create a new disk image based on image
	    <%- window.BASEIMAGE_NAME %></h4>
	</center>
	<span id="general_error" style="color:red;"></span>
	<form id='clone-image-form'
              class='form-horizontal' role='form'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <div class="form-group">
		<input name="node_id"
		       <% if (window.NODE !== undefined) { %>
		       value="<%- window.NODE %>"
		       <% } %>
		       class="form-control format-me"
		       data-key="node_id"
		       data-label="Node ID"
		       <% if (isadmin && window.NODE === undefined) { %>
		       placeholder="node is optional for administrators"
		       <% } %>
		       type="text">
	      </div>
	      <div class="form-group">
		<input name="imagename"
		       value=""
		       class="form-control format-me"
		       data-key="imagename"
		       data-label="Image Name"
		       placeholder="alphanumeric, no spaces" type="text">
	      </div>
	      <div class="form-group">
		<input name="description"
		       value="<%- formfields.description %>"
		       class="form-control format-me"
		       data-key="description"
		       data-label="Description"
		       placeholder="short pithy sentence" type="text">
	      </div>
	      <div class="form-group">
		<input name="OS" readonly
		       value="<%- formfields.os %>"
		       class="form-control format-me"
		       data-key="OS"
		       data-label="Operating System"
		       type="text">
	      </div>
	      <div class="form-group">
		<input name="os_version"
		       value="<%- formfields.os_version %>"
		       class="form-control format-me"
		       data-key="os_version"
		       data-label="OS Version"
		       placeholder="eg: 4.3, 7.2, etc." type="text">
	      </div>
	      <div class="form-group">
		<div id="shared-global"
		     class='format-me'
		     data-key="shared-global"
		     data-label="Shared/Global"
		     data-help='<dl class=horizontal>
		       <dt>Shared</dt>
		       <dd>Images that are marked shared can be used by all
		       subgroups of the project the image belongs to. When not
		       shared, the image is accessible only by experiments
		       created in the same subgroup as the image.</dd>
		       <dt>Global</dt>
		       <dd>Images that are marked global can be used by any
		       user in any project or subgroup. Global implies shared
		       so if you mark an image as global, we will uncheck
		       shared.</dd></dl>'>
		  <span class="radios">
		    <label class="radio-inline"> 
		      <input type="radio" name="shared-global"
			     value="shared"
			     id="shared-global-radio-shared"> Shared 
		    </label> 
		    <label class="radio-inline"> 
		      <input type="radio" name="shared-global"
			     value="global"
 			     id="shared-global-radio-global"> Global 
		    </label> 
		    <label class="radio-inline"> 
		      <input type="radio" name="shared-global"
			     value="none"
			     id="shared-global-radio-neither"> Neither 
		    </label> 
		  </span>
		</div>
	      </div>
	      <div class="form-group">
		<div class="format-me"
		     data-key="wholedisk"
		     data-label="Whole Disk"
		     data-help="Check this box if you need to capture more
			   then just the primary partition of your disk.
			   For example, you created a file system on
			   parition two, and want to include that in
			   your new disk image. 
			   <b><em>Do not check this box if you do not
			   need to do this or 
			   do not know what this means!</em></b>">
		  <label class="checkbox-inline"> 
		    <input type="checkbox" 
			   <% if (formfields.wholedisk) { %>
			     disabled checked
			   <% } %>
			   value="yep"
			   name="wholedisk">Yes</label>
		    <% if (formfields.wholedisk) { %>
		      <!-- disabled checkboxes are not serialized, so add hidden field -->
		      <input type="hidden" name="wholedisk" value="yep">
		    <% } %>
		</div>
	      </div>
	      <div class="form-group">
		<div class="format-me" 
		     data-key="baseimage"
		     data-label="Base Image"
		     style="height: 34px;
			    padding-top: 7px; padding-bottom: 7px;">
		  <a href="show-image.php?imageid=<%- window.BASEIMAGE_UUID %>"
		     target="_blank">
		    <%- window.BASEIMAGE_NAME %>:<%- window.BASEIMAGE_VERSION %>
		  </a>  
		</div>
	      </div>
	    </div>
	  </div>
	  <input type='hidden' name='baseimage_uuid'
		 value='<%= window.BASEIMAGE_UUID %>'>
	</form>
        <button class='btn btn-primary btn-sm pull-right'
                id='clone-image-button'
                type='submit' name='clone'>Clone
	</button>
      </div>
    </div>
  </div>
</div>
<!-- place to hang the modals for now -->
<div id='oops_div'></div>
<div id='waitwait_div'></div>
