<div>
<script id="counts-template" type="text/template">
  <table class='tablesorter'>
    <thead>
      <tr>
	<th>Type</th>
	<th>Inuse</th>
	<% if (isadmin) { %>
	  <th>Pre
	    <a href='#' class='btn btn-xs'
	       data-toggle='tooltip' data-bs-toggle='tooltip'
	       data-container="body" data-bs-container="body"
	       data-trigger="hover" data-bs-trigger="hover"
	       title='Number preserved AND free in parens'
	       style="margin-bottom: 3px;
	              padding-left: 0px;
	              padding-right: 0px;">
	      <span class='glyphicon glyphicon-question-sign'></span></a></th>
	<% } %>
	<th>Free
	  <a href='#' class='btn btn-xs'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     data-container="body" data-bs-container="body"
	     data-trigger="hover" data-bs-trigger="hover"
	     title='If the reservation system determines that some free
		    nodes will soon be unavailble, the adjusted number is
		    shown in parens.'
	     style="margin-bottom: 3px;
	            padding-left: 0px;
	            padding-right: 0px;">
	    <span class='glyphicon glyphicon-question-sign'></span></a></th>
	</th>
      </tr>
    </thead>
    <tbody>
      <%  _.each(totals, function(value, type) { %>
	<tr>
	  <td>
	    <a href="<%- weburl %>/portal/show-nodetype.php?type=<%- type %>"
	       class="counts-type"><%- type %></a>
	    <a href="#" class="counts-search" data-type="<%- type %>">
	      <span class='glyphicon glyphicon-search pull-right'
		    style='margin-bottom: 4px;'></span></a>
	  </td>
	  <td><%- value.inuse %></td>
	  <% if (isadmin) { %>
	    <td><%- value.preres %>
	      <% if (value.free_preres) { %>(<%- value.free_preres %>)<% } %>
	    </td>
	  <% } %>
	  <td><%- value.free %>
	    <% if (_.has(value, "free_reserved") &&
	           value.free > value.free_reserved) {%>
	      (<%- Math.round(Number(value.free_reserved)) %>)
            <% } %>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</script>

<script id="preres-template" type="text/template">
  <table class="tablesorter"
	 id='prereserve-table-<%- cluster_name %>'>
    <thead>
      <tr>
	<th>Pid</th>
	<th>Name</th>
	<th>Pri</th>
	<th>Need</th>
	<th>Got</th>
	<th>Types</th>
	<th>Creator</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% prereslist.forEach(function(value, index) { %>
	<% var expando_target = cluster_name + "-" + value.pid + "-" + value.name + "-collapse"; %>
	<tr>
	  <td>
	    <% if (value.prereserved.length) { %>
	      <a class="a-nohref">
		<span data-target='<%- "#" + expando_target %>'
		      data-bs-target='<%- "#" + expando_target %>'
		      class='glyphicon glyphicon-chevron-right
			     <%- expando_class %>'>
		</span>
	      </a>
	    <% } %>
	    <%- value.pid %>
	  </td>
	  <td><%- value.name %></td>
	  <td><%- value.priority %></td>
	  <td><%- value.count %></td>
	  <td><%- value.prereserved.length %></td>
	  <td><%- value.types %></td>
	  <td><%- value.creator %></td>
	  <td><%- moment(value.created).format("ll") %></td>
	</tr>
	<% if (value.prereserved.length || value.nodes.length) { %>
	  <tr>
	    <td class=hiddenRow></td>
	    <td colspan=7 class=hiddenRow>
	      <div class='collapse'
		   id='<%- expando_target %>'>
		<% if (value.prereserved.length) { %>
		  <center class=text-center>Pre Reserved</center>
		  <table class='tablesorter tablesorter-green'>
		    <thead>
		      <th>Node</th><th>Type</th>
		    </thead>
		    <tbody>
		      <% for (var i=0; i < value.prereserved.length; i++) { %>
			<% var pre = value.prereserved[i]; %>
			<tr>
			  <td><%- pre.node_id %></td>
			  <td><%- pre.type %></td>
			</tr>
		      <% } %>
		    </tbody>
		  </table>
		<% } %>
		<% if (value.nodes.length) { %>
		  <center class=text-center>Pending</center>
		  <table class='tablesorter tablesorter-green'>
		    <thead>
		      <th>Node</th><th>Type</th>
		    </thead>
		    <tbody>
		      <% for (var i=0; i < value.nodes.length; i++) { %>
			<% var pending = value.nodes[i]; %>
			<tr>
			  <td><%- pending.node_id %></td>
			  <td><%- pending.type %></td>
			</tr>
		      <% } %>
		    </tbody>
		  </table>
		<% } %>
	      </div>
	    </td>
	  </tr>
	<% } %>
      <% }); %>
    </tbody>
  </table>
</script>
</div>
