<!-- Confirm Deletion -->
<div id='confirm-delete-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<center><h4 style="margin-bottom: 2px">
	  Are you sure you want to delete this profile?</h4>
	  <span class="hidden text-warning" id="confirm-delete-profile-warning">
	    (Note: this is the most <em>recent version</em> of this profile)
	  </span>
	</center>
      </div>
      <div class='modal-body'>
	<p>
	  <em>Warning; deleting a profile cannot be undone!</em> In
	  addition, if you have published links to this profile
	  (version), or sent links to collaborators, those links
	  <b>will no longer be valid</b>.
	  <span class="ask-delete-all-versions">
	    If you want to delete
	    <em><b>all versions</b></em> of
	    this profile, please check the box.</span>
	</p>
	<center class="ask-delete-all-versions">
	  <input id='delete-all-versions' value='checked'
		 type='checkbox'> Delete all versions of this profile.
	</center>
	<p class="warn-delete-all-versions hidden">
	  <b>Warning: <em>all versions</em> of
	    this profile will be deleted!</b>
	</p>	
	<br>
	<center>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete-profile-button'
		  type='button' name='delete'>Confirm
	  </button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
                  type='button'>Cancel
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='confirm-delete-selected-profiles-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<center><h4 style="margin-bottom: 2px">
	  Are you sure you want to delete these profiles?</h4>
	</center>
      </div>
      <div class='modal-body'>
	<p>
	  <em>Warning; deleting a profile cannot be undone!</em> In
	  addition, if you have published links to these profiles
	  or sent links to collaborators, those links
	  <b>will no longer be valid</b>.
	</p>	
	<p>
	  <b>Warning: <em>all versions</em> of
	    these profiles will be deleted!</b>
	</p>	
	<br>
	<center>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete-selected-profiles-button'
		  type='button' name='delete'>Confirm
	  </button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
                  type='button'>Cancel
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
