<!-- Confirm Delete Image -->
<div id='confirm-delete-image-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Are you sure want to delete
	  <span class="text-warning"><em><%- titletext %></em></span>
	  this image?</h4></center>
	<center>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete-image'
		  type='button' name='delete'>Confirm
	  </button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
                  type='button'>Cancel
	  </button>
	</center>
	<br>
	<% var warn = 0; %>
	Note: This operation is not reversible, your image(s) will be
	permanently deleted, freeing up the disk space it using.
	<div id="profile-list"
	     <% if (profiles == null) { %>class="hidden"<% } %>>
	  <br>
	  The following profile <em>versions</em> will also be
	  deleted since they are using this image and will no longer
	  work after the image is deleted.
	  <div class="table-responsive">
	    <table class='table table-condensed' style="margin-bottom: 10px;">
	      <thead>
		<tr>
		  <th>Name</th>
		  <th>Version</th>
		  <th>Creator</th>
		  <th>Project</th>
		  <th>Created</th>
		</tr>
	      </thead>
	      <tbody>
		<% if (profiles) { %>
		  <% _.each(profiles, function(profile, i) { %>
		    <% _.each(profile.versions, function(version, j) { %>
		      <tr>
			<td><%= profile.name %></td>
			<td>
			  <a href="show-profile.php?uuid=<%- version.uuid %>"
			     target="_blank"><%- version.version %></a>
			  <% if (version.iscurrent) { warn = 1; %>
			    <span class="text-danger
					 glyphicon glyphicon-asterisk"></span>
			  <% } %>
		      </td>
		      <td><%= profile.creator %></td>
		      <td><%= profile.project %></td>
		      <td class="format-date" style='white-space: nowrap;'>
			<%- version.created %></td>
		      </tr>
		    <% }); %>
		  <% }); %>
		<% } %>
	      </tbody>
	    </table>
	    <% if (warn) { %>
	      <span class="text-danger
			   glyphicon glyphicon-asterisk"></span>
	      <span class="text-danger">
		This is the most recent version of the profile. Are you sure
		you want to delete it?</span>
	    <% } %>
	  </div>  
	</div>
      </div>
    </div>
  </div>
</div>
