<!-- This is the terminate modal -->
<div id='destroy-experiment-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<span class="text-center">
	  <h4>Warn User or Terminate experiment with cause</h4></span>
      </div>
      <div class='modal-body'>
	<center>
          <p>
	    Please provide a message and check the boxes below.
	  </p>
	  <div>
	    <textarea id='destroy-experiment-reason'
		      class='form-control' rows=15></textarea>
	  </div>
	  <input type=checkbox 
		 id='destroy-quarantine-checkbox' value=yes>
	  Quarantine Experiment
	  (with power off? <input type=checkbox 
			    id='destroy-poweroff-checkbox' value=yes>)
	  or
	  <input type=checkbox style="margin-left: 5px"
		 id='destroy-terminate-checkbox' value=yes>
	  Terminate Experiment
	  <div>
	  <input type=checkbox 
		 id='destroy-freeze-checkbox' value=yes>
	  Freeze User?
	  </div>
	  <div class="mt-3">
            <button class='btn btn-danger confirm-button'
		    id='destroy-experiment-confirm'
                    type='submit' name='destroy'>
	      Confirm</button>
            <button class='btn btn-default cancel-button'
		    data-dismiss="modal" data-bs-dismiss="modal">
	      Cancel</button>
	  </div>
	</center>
	<span class="traffic-violation hidden">
	  <input type=checkbox value=yes> Control Network Violation
	</span>
	<span class="compromised hidden" style="margin-left: 5px">
	  <input type=checkbox value=yes> Compromised
	</span>
      </div>
    </div>
  </div>
</div>
<div id='quarantine-inprogress-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-body">
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	Changing quarantine mode takes a few minutes, the experiment state
	will be updated when complete.
      </div>
    </div>
  </div>
</div>
