<style type="text/css">
 .nowrap {  white-space: nowrap; }

 .hidden-column {
     display: none;
 }
</style>
<div>
  <table class='tablesorter' id='experiments_table'>
    <thead>
      <tr>
	<th>Name</th>
	<th>Profile</th>
	<% if (showCreator) { %>
	  <th>Creator</th>
	<% } %>
	<% if (showProject) { %>
	  <th>Project</th>
	<% } %>
	<th>Status</th>
	<th>Cluster</th>
	<% if (showPortal !== undefined && showPortal) { %>
	  <th>Portal</th>
	<% } %>
	<th>PCs</th>
	<th>PHours<b>[1]</b></th>
	<th>VMs</th>
	<th class="sortInitialOrder-desc">Created</th>
	<th class="sorter-sugar">Expires</th>
	<% if (searchUUID) { %>
	  <th class="hidden-column">UUID</th>
	<% } %>
	<th class="hidden-column">Filters</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(experiments, function(value, name) { %>
	<tr>
	  <td style='white-space: nowrap;'><%= value.name %>
	    <% if (showterminate !== undefined && showterminate
	           && (window.ISADMIN || value.creator == window.LOGINUID) 
	           && value.status == "ready") { %>
	      <a href="#" class="terminate-button"
		 data-uuid="<%- value.uuid %>">
		<span class='glyphicon glyphicon-remove pull-right'
		      style='color: red; margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip' data-bs-toggle='tooltip'
		      data-container="body" data-bs-container="body"
		      data-trigger="hover" data-bs-trigger="hover"
		      title='Terminate Experiment'></span>
	      </a>
            <% } %>
	  </td>
	  <% if (value.profile_uuid) { %>
	    <td><a href='show-profile.php?uuid=<%- value.profile_uuid %>'>
              <%- value.profile_name %></a></td>
	  <% } else { %>
	    <td>&nbsp;</td>
          <% } %>
	  <% if (showCreator) { %>
	    <td><%= value.creator %></td>
	  <% } %>
	  <% if (showProject) { %>
            <td><%= value.project %></a></td>
	  <% } %>
	  <td><%- value.status %></td>
	  <td><%- value.cluster %></td>
	  <% if (showPortal !== undefined && showPortal) { %>
	    <td><%- value.portal %></td>
	  <% } %>
	  <td><%- value.pcount %></td>
	  <td><%- value.phours %></td>
	  <td><%- value.vcount %></td>
	  <td class="format-date nowrap">
	    <%- value.created %></td>
	  <td class="format-date format-date-expires nowrap"
	      <% if (value.lockdown) { %>
		<% if (_.has(value, "admin_lockdown") && value.admin_lockdown){ %>
   	              style='color: red;'
		<% } else { %>
		      style='color: blue;'
		<% } %>
	      <% } %>
	  ><%- value.expires %></td>
	  <% if (searchUUID) { %>
	    <td class="hidden-column"><%- value.uuid %></td>
	  <% } %>
	  <td class="hidden-column">
	    <% if (_.has(value, "filter")) { %>
	      <%- value.filter %>
	    <% } %>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
  [1] <b>PHours</b>: Number of nodes times number of hours in use.<br>
</div>


