<div>
  <table class='table table-condensed table-bordered' id="profile_table">
    <tr>
      <td>GID</td>
      <td><%- fields.gid %> (<%- fields.gid_idx%>)</td>
    </tr>
    <tr>
      <td>PID</td>
      <td><a href='show-project.php?project=<%- fields.pid_idx %>'>
	<%- fields.pid %></a> (<%- fields.pid_idx%>)</td>
    </tr>
    <tr>
      <td>Leader</td>
      <td><a href='user-dashboard.php?user=<%- fields.leader_idx %>'>
	<%= fields.leader_name %></a></td>
    </tr>
    <tr>
      <td>Created</td>
      <td class="format-date"><%= fields.created %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= fields.description %></td>
    </tr>
    <% if (candelete) { %>
      <tr>
	<td>Delete Group</td>
	<td><button class='btn btn-danger btn-xs' type="button"
		    data-toggle='modal' data-bs-toggle='modal'
		    data-target='#confirm-delete-modal'
		    data-bs-target='#confirm-delete-modal'>
	  Delete Group</button></td>
      </tr>
    <% } %>
  </table>
</div>
