<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .popover, .popover-content {
     width:auto !important;
     max-width: 700 !important;
     min-width: 450 !important;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
</style>
<div class='col-lg-10 col-lg-offset-1 offset-lg-1
	    col-md-10 col-md-offset-1 offset-lg-1
	    col-sm-12 col-sm-offset-0 offset-lg-0
	    col-xs-12 col-xs-offset-0 offset-lg-0'> 
  <div class="row justify-content-start mt-3 mb-1">
    <div class="col-sm-1">
      <a class='btn btn-info' href="vlan-history.php"
	 type="button">Vlan History</a>
    </div>
    <div class="col-sm-3">
      <div class="input-group input-group-md"
	   id="search-mac">
	<input class='form-control form-control-md search'
	       type='search'
	       placeholder='MAC Address'>
	<button class="btn btn-outline-secondary"
		type="button">Search</button>
      </div>
    </div>
    <div class="col-sm-auto">
      <a id="search-mac-link" href=""
	 class="btn btn-success hidden" target="_blank" type="button"></a>
    </div>
  </div>
  <div class='panel card panel-default'>
    <div class='panel-body card-body panel-body-dashboard'>
      <div class="table-responsive">
	<table class='tablesorter'>
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>PID</th>
	      <th>EID</th>
	      <th>Link Name</th>
	      <th>Tag</th>
	      <th>Stack</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(vlans, function(info, index) { %>
	      <tr>
		<td><a href="show-vlan.php?id=<%- info.id %>"
		       target="_blank"><%- info.id %></a></td>
		<td><a href="show-project.php?pid=<%- info.pid %>"
		       target="_blank"><%- info.pid %></a></td>
		<td>
		  <% if (_.has(info, "instance_uuid")) { %>
		    <a href="status.php?uuid=<%- info.instance_uuid %>"
		       target="_blank"><%- info.eid %></a>
		  <% } else { %>
		    <a href="<%- window.CLASSIC %>/showexp.php3?pid=<%- info.pid %>&eid=<%- info.eid %>"
		       target="_blank"><%- info.eid %></a>
		  <% } %>
		</td>
		<td><%- info.virtual %></td>
		<td><%- info.tag %></td>
		<td><%- info.stack %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
