<div>
  <div id='spinner' >
    <center style="padding-bottom: 10px;">
      <h4>Please wait while we gather all the information</h4>
      <img src='images/spinner.gif' />
    </center>
  </div>
  <div id='no-images-message' class='hidden'>
    <center>
      You have not created any custom images yet.
    </center>
  </div>
  <div id="local-cluster-div"></div>
  <div id="remote-clusters-div"></div>
  <div id="FE-clusters-div"></div>
  <div id="mobile-clusters-div"></div>
  <div id="failed-clusters-div"</div>
  <div id='classic-images-div' class='hidden'></div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
<div id='confirm_div'></div>
<div id='image-format-modal_div'></div>


