<style>
 .scrolly {
     overflow-y: auto;
     position: relative;
     height: auto;
     max-height: 175px;
     min-height: 24px;
 } 
}
</style>
<div class='row'>
 <% if (viewing) { %>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'><%= title %></h4>
      </div>
      <div class='panel-body card-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table table-condensed table-sm
		      table-borderless nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- formfields.profile_name %></td>
	  </tr>
	  <% if (!fromrepo) { %>
	    <tr>
	      <td>Version:</td><td>
		<% if (history) { %>
		  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- formfields.profile_version %></a>
		<% } else { %>
		  <%- formfields.profile_version %>
		<% } %>
		<% if (version_uuid != latest_uuid) { %>
		  (Latest:
		  <a href='manage_profile.php?action=edit&uuid=<%= latest_uuid %>'>
		    <%- latest_version %></a>)
		<% } %>
	      </td>
	    </tr>
	  <% } %>
	  <tr>
	    <td>Project:</td>
	    <td><a href='show-project.php?pid=<%= formfields.profile_pid %>'>
	      <%- formfields.profile_pid %></a></td>
	  </tr>
	  <tr>
	    <td>Creator:</td>
	    <td><a href='user-dashboard.php?user=<%= formfields.profile_creator %>'>
	      <%- formfields.profile_creator %></a></td>
	  </tr>
	  <% if (formfields.profile_version != 0) { %>
	    <tr>
	      <td>Updated by:</td>
	      <td><a href='user-dashboard.php?user=<%= formfields.profile_updater %>'>
		<%- formfields.profile_updater %></a></td>
	    </tr>
	  <% } %>
	  <tr>
	    <% if (formfields.profile_version == 0 || fromrepo) { %>
	      <td>Created:</td>
	    <% } else { %>
	      <td>Updated:</td>
	    <% } %>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- formfields.profile_created %></td>
	  </tr>
	  <tr>
	    <td>Public:</td>
	    <td>
	      <span id="profile-public">
		<% if (formfields.profile_who == "public") { %>Yes<% } else { %>No<% } %>
	      </span>
	      (<a href="#" class="profile-share-button"
		  data-toggle='popover' data-bs-toggle='popover'
		  data-content='Normally only project members can view and
				instantiate your profile. You can change this
				setting to allow others to access your profile.'
	       >change this setting</a>)
	    </td>
	  </tr>
	  <tr>
	    <td>Writable:</td>
	    <td>
	      <span id="profile-project-write">
		<% if (formfields.profile_project_write) { %>
		  Project Members
		<% } else { %>
		  Profile Creator
		<% } %>
	      </span>
	      <% if (isadmin || iscreator || isleader) { %>
		(<a href="#" id="profile-project-write-button"
		    data-toggle='popover' data-bs-toggle='popover'
		    data-content='Normally only you or your project leader
				  can modify your profile. You can change
				  this setting to allow anyone in your project
				  to modify this profile.'
		 >change this setting</a>)
	      <% } %>
	    </td>
	  </tr>
	  <% if (fromrepo) { %>
	    <tr>
	      <td>Refspec:</td>
	      <td id="current-refspec"><%- formfields.profile_reporef %></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td id="current-refhash"><%- formfields.profile_repohash.substring(0,8) %></td>
	    </tr>
	  <% } %>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <% if (formfields.profile_published != "") { %>
	    <td id='profile_published' class='format-date'>
	      <%- formfields.profile_published %></td>
	    <% } else { %>
	    <td class='text-danger'>Not Published!</td>
	    <% } %>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover' data-bs-toggle='popover'
		   data-html='true' data-bs-html='true'
		   data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	  <% if (nodelete) { %>
	    <tr>
	      <td>Lockdown:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover' data-bs-toggle='popover'
		   data-html='true' data-bs-html='true'
		   data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
		   data-content="This profile has been locked down, so it
				 cannot be deleted.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<% if (activity) { %>
	  <a class='btn btn-info btn-xs pull-left'
             id='profile_activity_button'
	     data-toggle='popover' data-bs-toggle='popover'
	     data-delay='{"hide":1500, "show":250}'
	     data-bs-delay='{"hide":1500, "show":250}'
	     data-html='true' data-bs-html='true'
	     data-content="View a history of when your profile was
			   instantiated."
             style='margin-right: 10px; font-size: 12px'
             href='profile-activity.php?uuid=<%= profile_uuid %>'
             type='button'>Activity
	  </a>
	<% } %>
	<% if (paramsets) { %>
	  <a class='btn btn-info btn-xs pull-left'
             id='profile_activity_button'
	     data-toggle='popover' data-bs-toggle='popover'
	     data-delay='{"hide":1500, "show":250}'
	     data-bs-delay='{"hide":1500, "show":250}'
	     data-html='true' data-bs-html='true'
	     data-content="View parameter sets for your profile."
             style='margin-right: 10px; font-size: 12px'
             href='profile-paramsets.php?uuid=<%= profile_uuid %>'
             type='button'>Paramsets
	</a>
	<% } %>
      </div>
    </div>
    <% if (fromrepo) { %>
      <div class='panel card panel-default hidden' id="repoinfo-panel">
	<div class='panel-heading card-header'>
          <h4 class='panel-title card-title text-center'>Repository Info</h4>
	</div>
	<div class='panel-body card-body'
	     style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	  <table class='table table-condensed table-sm
			table-borderless nospaceafter'
		 style='font-size:12px;'>
	    <tr>
	      <td>Refspec:</td>
	      <td class="commit-refspec"></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td class="commit-hash"></td>
	    </tr>
	    <tr>
	      <td>Date:</td>
	      <td class="commit-date"></td>
	    </tr>
	    <tr>
	      <td>Author:</td>
	      <td class="commit-author"></td>
	    </tr>
	    <tr>
	      <td>Est. Size:</td>
	      <td class="commit-size"></td>
	    </tr>
	    <tr style="white-space: nowrap;">
	      <td style="padding-top: 10px;">Push URL:</td>
	      <td style="white-space: nowrap;" id="copy-push-url">
		<div class="copy-to-clipboard">
		  <div class="input-group">
		    <input readonly
			   class="form-control input-sm form-control-sm"
			   id="push-url"
			   value="<%- formfields.profile_repopushurl %>"
			   style="padding-left: 3px; padding-right: 3px;
				  padding-bottom: 0px; padding-top: 0px;">
		    <span class="input-group-text"
			  style="padding-left: 0px; padding-right: 0px;
				 padding-bottom: 0px; padding-top: 0px;">
		      <a href='#' class='btn'
			 style="padding-left: 5px; padding-right: 5px;">
			<span class='glyphicon glyphicon-copy'></span></a>
		    </span>
		    <button class="btn btn-outline-secondary"
			    style="padding-left: 5px; padding-right: 5px;"
			    data-toggle='modal' data-bs-toggle='modal'
			    data-target="#webhook-help-modal"
			    data-bs-target="#webhook-help-modal">
		      <span class='glyphicon glyphicon-question-sign'></span></button>
		  </div>
		</div>
	      </td>
	    </tr>
	    <% if (isadmin) { %>
	      <tr>
		<td>RepoName:</td>
		<td class="commit-reponame" style="font-size: 60%;"></td>
	      </tr>
	    <% } %>
	    <tr>
	      <td>Log:</td>
	      <td class="commit-log">
		<span class="commit-log-start"></span>
		<button type="button" class="hidden log btn btn-xs"
		   data-toggle='popover' data-bs-toggle='popover'
		   data-html="true" data-bs-html="true"
			data-delay='{"hide":1000, "show":250}'
			data-bs-delay='{"hide":1000, "show":250}'>...</button>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    <% } %>
    <div style="margin-top-foo: 10px;" class="text-center">
      <button class='btn btn-success btn-sm profile-share-button'
	      style='margin-right: 5px;'
	      type='button'
	      data-toggle='popover' data-bs-toggle='popover'
	      data-html='true' data-bs-html='true'
	      data-content="Share this profile with other users.
			    Click for more info.">
        Share
      </button>
      <button id="copy-profile-button"
	      class='btn btn-primary btn-sm'
	      style='margin-right: 5px;'
	      <% if (fromrepo) { %>
     	      data-toggle='modal' data-bs-toggle='modal'
	      data-target='#copy-repobased-profile-modal'
	      data-bs-target='#copy-repobased-profile-modal'
	      <% } %>
	      type='button'>Copy
      </button>
      <% if (!disabled && gotrspec) { %>
	<% 	var url = "instantiate.php?profile=" +
	version_uuid + "&from=manage-profile"; %>
	<a class='btn btn-primary btn-sm' disabled
	   href="<%- url %>"
           id='profile_instantiate_button'
           style='margin-right: 5px;'
           type='submit' name='create'>Instantiate
	</a>
      <% } %>
    </div>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h3 class='panel-title card-title text-center'>
	  <% if (canmodify) { %>
	    Modify
	  <% } %>
	  Profile <%- formfields.profile_pid %>/<%- formfields.profile_name %>
	</h3>
      </div>
 <% } else { %>
    <div class='col-xxl-8 col-xxl-offset-2 offset-xxl-2
		col-sm-10 col-sm-offset-1 offset-sm-1 col-xs-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h3 class='panel-title card-title'><%= title %></h3>
      </div>
 <% } %>
      <div class='panel-body card-body'>
	<div class="row">
	  <div class="col-sm-8 col-sm-offset-2 offset-sm-2">
	    <span id="general_error" style="color:red;"></span>
	  </div>
	</div>
	<form id='quickvm_create_profile_form'
              class='form-horizontal' role='form'
	      data-format="wide">
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (general_error) { %>
	        <center>
		  <p class='lead text-danger'><%- general_error %></p>
		</center>
	      <% } %>
              <div id="notifyupdate"
		   class="alert alert-success apt-success" style="display: none"
		   role="alert"><center>Update Successful!</center></div>
	      <!-- Hidden variables -->
	      <input type='hidden' name='action' value='<%= action %>'>
	      <% if (copyuuid) { %>
	        <input type='hidden' name='copyuuid' value='<%= copyuuid %>'>
	      <% } %>
	      <% if (snapuuid) { %>
	        <input type='hidden' name='snapuuid' value='<%= snapuuid %>'>
		<% if (snapnode_id) { %>
	          <input type='hidden'
			 name='snapnode_id' value='<%= snapnode_id %>'>
		<% } %>
	      <% } %>
	      <% if (window.CLONING) { %>
	        <input type='hidden' name='update_prepare' value=''>
	      <% } %>
	      <% if (_.has(formfields, "portal_converted")) { %>
		<input type='hidden' name='portal_converted'
		       value='<%= formfields.portal_converted %>'>
	      <% } else { %>
		<input type='hidden' name='portal_converted' value="no">
	      <% } %>
	    </div>
	  </div>
	  <input type='hidden' id="repourl"
		 name='profile_repourl'
		 value='<%- formfields.profile_repourl %>'>
	  <% if (viewing) { %>
	    <input type='hidden' name='uuid' value='<%= version_uuid %>'>
	    <input type='hidden' name='profile_name' id="profile_name"
		   value='<%- formfields.profile_name %>'>
	    <input type='hidden' id="profile_pid" name='profile_pid'
		   value='<%- formfields.profile_pid %>'>
	  <% } %>
	  <% if (!viewing) { %>
	  <fieldset>
	    <div class="form-group">
	      <input name="profile_name"
		     id="profile_name"
		     value="<%- formfields.profile_name %>"
		     class="form-control format-me"
		     data-key="profile_name"
		     data-colsize="4"
		     data-label="Profile Name"
		     placeholder="alphanumeric, dash, no whitespace"
		     type="text">
	    </div>
	    <div class="form-group">
	      <% if (projects.length == 1) { %>
	        <input name="profile_pid" readonly
		       value="<%- formfields.profile_pid %>"
		       class="form-control format-me"
		       data-label="Project"
		       data-colsize="4"
		       id='profile_pid'
		       data-key="profile_pid">
	      <% } else { %>
		<select name="profile_pid"
			id='profile_pid' 
			class='form-control form-select format-me'
			data-key="profile_pid"
			data-label="Project"
			data-colsize="4"
			placeholder='Please Select'>
		  <option value="">Please Select</option> 
		  <% _.each(projects, function(name) { %>
	            <option 
			<% if (_.has(formfields, 'profile_pid') &&
			  formfields.profile_pid == name) { %>
			selected
			<% } %>
			value='<%= name %>'><%= name %>
		    </option>
		  <% }); %>
		</select>
	      <% } %>
	    </div>
	  </fieldset>
	  <% } %>
	  <fieldset>
	    <% if (! genilib_editor) { %>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_rspec'
		   data-label='Source code'
		   data-html="true" data-bs-html="true"
		   data-help='You can supply either an
			      <a href="<%- manual %>/advanced-topics.html">
			      rspec or a geni-lib script</a> for your
			      profile source code. <br>You can also create a
			      topology with the topology editor, or you can
			      use an existing git repository.'>
		<!-- col-form-label has the correct padding to make it look good  -->
		<div class='col-form-label'>
                  <div class='col-xs-10'>
		    <% if (! (fromrepo || window.CLONING)) { %>
		      <span id="sourcefile-button-div"
			    style='margin-right: 10px;'>
			<input class='filestyle' type='file'
			       name='sourcefile' id='sourcefile' 
			       data-classButton='btn btn-primary btn-xs'
			       data-input='false'
			       data-buttonText='Upload File'>
		      </span>
		    <% } %>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='edit_topo_modal_button'>Topology</button>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='show_source_modal_button'>Code</button>
		    <button class='btn btn-primary btn-xs hidden'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_xml_modal_button'>
                      View XML</button>
 		    <% if ((viewing && canmodify) && gotrspec && !fromrepo && !gotscript){ %>
		      <span id="profile_convert_button"
			    data-toggle='popover' data-bs-toggle='popover'
			    data-delay='{"hide":500, "show":250}'
			    data-bs-delay='{"hide":500, "show":250}'
			    data-html='true' data-bs-html='true'
			    data-content="Convert your profile to a geni-lib
					  script. Click for more info.">
			<button class='btn btn-primary btn-xs' 
     				data-toggle='modal' data-bs-toggle='modal'
				data-target='#profile-convert-modal'
				data-bs-target='#profile-convert-modal'
				type='button' name='delete'>Convert to geni-lib
			</button>
			<img src="images/new.gif" style="margin-left: -5px;">
		      </span>
		    <% } %>
		    <% if (! (viewing || window.CLONING)) { %>
		      <span id="git-repo-button-div">
			or
			<span data-toggle='popover' data-bs-toggle='popover'
			      data-delay='{"hide":500, "show":500}'
			      data-bs-delay='{"hide":500, "show":500}'
			      data-html='true' data-bs-html='true'
			      data-content="Supply your profile source from a
					    Git repository.
					    Click for more info.">
			  <button class='btn btn-primary btn-xs'
				  data-toggle='modal' data-bs-toggle='modal'
				  data-target='#git-repo-modal'
				  data-bs-target='#git-repo-modal'
				  type='button'
				  style='margin-left: 10px;'
				  id='git-repo-button'>Git Repo</button>
			</span>
		      </span>
		    <% } %>
		  </div>
		</div>
	      </div>
	    </div>
	    <% } %>
	    <% if (viewing && fromrepo) { %>
	      <div class="form-group">
		<div class="format-me"
		     data-key='profile_repourl'
		     data-label='Repository'>
		  <span>
		    <input type="text"
			   class="form-control" readonly
			   style="width: 75%; display: inline;"
			   value='<%- formfields.profile_repourl %>'>
		    <button class='btn btn-primary btn-xs'
			    id="git-repo-update-button"
			    type='button'
			    style='margin-left: 10px;'>
		      Update</button>
		    <a href='#' class='btn btn-xs'
		       data-toggle='popover' data-bs-toggle='popover'
		       data-html='true' data-bs-html='true'
		       data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
		       data-content='Fetch from your repository, updating
				     your profile to reflect the current HEAD
				     of your master branch. Branches and tags
				     are updated as well (see below). You
				     can also set up a <em>push webhook</em>
				     to automate updates, see the <b>Push
				     URL</b> help info in the Repository panel  card 
				     on your left.'>
		      <span class='glyphicon glyphicon-question-sign'
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </span>
		</div>
	      </div>
	    <% } %>
	    <!-- Be careful not to add whitespace here -->
 	    <textarea name="profile_rspec"
		      id='profile_rspec_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_rspec'
		      rows=5><%- formfields.profile_rspec %></textarea>
	    <!-- Be careful not to add whitespace here -->
 	    <textarea name="profile_script"
		      id='profile_script_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_script'
		      rows=5><%- formfields.profile_script %></textarea>
	  </fieldset>
	  <fieldset id="tour-text-boxes"
		    <% if (!viewing || !gotrspec) { %>class="hidden" <% } %> >
	    <div class="form-group">
	      <div class="format-me"
		   data-key='profile_description'
		   data-label='Description'
		   data-help='Briefly describe what this profile
			      does. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
			      to see a rendering.'>
		<div id='profile_description'>
		  <textarea class="form-control hidden"
			    placeholder="Please provide a description for your profile, its required."
			    rows=3 type='textarea'></textarea>
		  <div class="textarea hidden">
		    <div class="form-control textdiv scrolly"></div>
		    <div class="geni-lib-warning">
		      <small class="pull-left">
			<a href="mdrender.php" target="_blank">
			  Test your markdown</a>
		      </small>
		      <small class="pull-right">
			Description set by geni-lib script
			<a href='#' class='btn btn-xs'
			   data-toggle='modal' data-bs-toggle='modal'
			   data-target="#docstring-help-modal" data-bs-target="#docstring-help-modal">
			  <span style='margin-bottom: 4px; margin-left: 0px;'
				class='glyphicon glyphicon-question-sign'>
			  </span>
			</a>
		      </small>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_instructions'
		   data-label='Instructions'
		   data-help='Briefly describe how to use this
		              profile after it starts.
		              Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
 		              to see a rendering.'>
		<div id='profile_instructions'>
		  <textarea class="form-control hidden" rows=3
			    placeholder="Provide optional instructions for users of your profile."
			    type='textarea'></textarea>
		  <div class="textarea hidden">
		    <div class="form-control textdiv scrolly"></div>
		    <div class="geni-lib-warning">
		      <small class="pull-left">
			<a href="mdrender.php" target="_blank">
			  Test your markdown</a>
		      </small>
		      <small class="pull-right">
			Instructions set by geni-lib script
			<a href='#' class='btn btn-xs'
			   data-toggle='modal' data-bs-toggle='modal'
			   data-target="#docstring-help-modal" data-bs-target="#docstring-help-modal">
			  <span style='margin-bottom: 4px; margin-left: 0px;'
				class='glyphicon glyphicon-question-sign'>
			  </span>
			</a>
		      </small>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="form-group hidden">
	      <div class='format-me'
		   data-key='profile_parameters'
		   data-label='Parameters'
		   data-help='Parameter help text that will be displayed when
			      your profile is instantiated.'>
		<div>
		  <div class="textarea">
		    <div id='profile_parameters'
			 style="padding-inline-start: 10px;"
			 class="form-control textdiv scrolly"></div>
		    <div class="geni-lib-warning">
		      <small class="pull-right">
			Parameters set by geni-lib script
		      </small>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </fieldset>
	  <fieldset>
	    <!-- Tour Table; hidden until the table is initialized
	         from the rspec. -->
	    <div class='row hidden' id='profile_steps_div'>
	      <div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		<div class="panel" style='margin-bottom: 10px; border: 0px;'>
		  <div class="panel-heading card-header"
		       style='border: 0px; padding: 5px; margin: 0px;'>
		    <a data-toggle="collapse" data-bs-toggle="collapse"
		       id='profile_steps_link'
		       href="#profile_steps_collapse">
		      Show/Edit Tour
		    </a>
		  </div>
		  <div id="profile_steps_collapse"
		       class="panel-collapse collapse">
		    <div class="panel-body card-body" style='padding: 0px; border: 0px;'>
		      <table id='profile_steps' class='col-sm-12'></table>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </fieldset>

	  <fieldset id="metadata-fields"
		    <% if (!viewing || !gotrspec) { %>class="hidden" <% } %> >
	    <!-- Permission checkboxes. -->
	    <% if (isadmin) { %>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3 offset-sm-3' style="margin-top: 5px">
		Who can instantiate your profile?
	      </div>
	    </div>

	    <div class='row' style="margin-bottom: 10px;">
	      <div class='col-sm-8 col-sm-offset-4 offset-sm-4'>
		<div class='format-me' data-key='profile_who'
		     data-compact='yep'>
		  <div class="form-check">
		    <input type='radio' name='profile_who'
			   class="form-check-input"
			   id='profile_who_public'
		           <% if (formfields.profile_who == "public") {
			   %>checked<% } %>
			   value='public'>
		    <label class="form-check-label"
		      <% if (isapt) { %>
			<em>Anyone</em> on the internet
		      <% } else { %>
			<em>Anyone</em>
		      <% } %>
    	            </label>
                  </div>
                  <div class='form-check'>
                    <input type='radio' name='profile_who'
			   class="form-check-input"
			   id='profile_who_private'
		           <% if (formfields.profile_who == "private") {
			   %>checked<% } %>
			   value='private'>
                    <label class="form-check-label">
		      Only members of your project
    	            </label>
                  </div>
                </div>
              </div>
            </div>
	    <% } else { %>
	    <input type='hidden' name='profile_who' value="private">
	    <% } %>

	    <% if (0 && (isadmin || iscreator || isleader)) { %>
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me'
		       data-key='profile_project_write'
		       data-compact='yep'>
		    <input type="hidden"
			   name='profile_project_write' value="unchecked">

		    <div class="form-check">
		      <input name='profile_project_write'
			     class="form-check-input"
			     <%- formfields.profile_project_write %>
			     data-key='profile_project_write'
			     id='profile_project_write' value='checked'
			     type='checkbox'>
		      <label class="form-check-label">
			Allow members of your project to
			modify this profile.
			<a href='#' class='btn btn-xs'
			 data-toggle='popover' data-bs-toggle='popover'
			 data-content='Normally only you or your project leader
				       can modify your profile. Setting this
				       flag allows anyone in your project to
				       modify this profile, which is helpful
				       when collaborating with other members
				       of your project.'>
			<span style='margin-bottom: 4px;'
			      class='glyphicon glyphicon-question-sign'></span>
			</a>
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	    <% } else { %>
	      <input type='hidden' name='profile_project_write' value="unchecked">
	    <% } %>

	    <% if (isadmin) { %>
	      <!-- Public listing checkbox -->
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me' data-compact='yep'>
		    <div class="form-check">
		      <input name='profile_listed'
			     class="form-check-input"
			     <%- formfields.profile_listed %>
			     data-key='profile_listed'
			     id='profile_listed' value='checked'
			     type='checkbox'>
		      <label class="form-check-anyone">
			List on the home page for anyone to view.
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	      
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me' data-key='profile_topdog'
		       data-compact='yep'>
		    <div class="form-check">
		      <input name='profile_topdog'
			     class="form-check-input"
			     <%- formfields.profile_topdog %>
			     data-key='profile_topdog'
			     id='profile_topdog' value='checked'
			     type='checkbox'>
		      <label class="form-check-label">
			Put this profile at the top of the list.
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me' data-key='profile_disabled'
		       data-compact='yep'>
		    <div class="form-check-inline">
		      <input name='profile_disabled'
			     class="form-check-input"
			     <%- formfields.profile_disabled %>
			     data-key='profile_disabled'
			     id='profile_disabled' value='checked'
			     type='checkbox'>
		      <label class="form-check-label">
			Disable profile.
			<a href='#' class='btn btn-xs'
			   style="padding-left: 0px"
			   data-toggle='popover' data-bs-toggle='popover'
			   data-html='true' data-bs-html='true'
			   data-delay='{"hide":500}'
			   data-bs-delay='{"hide":500}'
			   data-content="Disable profile so that it cannot be
					 instantiated.">
			  <span class='glyphicon glyphicon-question-sign'
				style='margin-bottom: 4px;'></span>
			</a>
		      </label>
		      <input name='profile_disable_all'
			     class="form-check-input"
			     data-key='profile_disable_all'
			     value='checked'
			     type='checkbox'>
		      <label>
			Apply to all versions.			
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me' data-key='profile_nodelete'
		       data-compact='yep'>
		    <div class="form-check-inline">
		      <input name='profile_nodelete'
			     class="form-check-input"
			     <%- formfields.profile_nodelete %>
			     data-key='profile_nodelete'
			     id='profile_nodelete' value='checked'
			     type='checkbox'>
		      <label class="form-check-label">
			Lockdown profile.
			<a href='#' class='btn btn-xs'
			   style="padding-left: 0px"
			   data-toggle='popover' data-bs-toggle='popover'
			   data-html='true' data-bs-html='true'
			   data-delay='{"hide":500}'
			   data-bs-delay='{"hide":500}'
			   data-content="Lockdown profile so that it cannot be
					 deleted. This implies that images
					 associated with this profile may not be
					 deleted either.">
			  <span class='glyphicon glyphicon-question-sign'
				style='margin-bottom: 4px;'></span>
			</a>
		      </label>
		      <input name='profile_nodelete_all'
			     class="form-check-input"
			     data-key='profile_nodelete_all'
			     value='checked'
			     type='checkbox'>
		      <label class="form-check-label">
			Apply to all versions.
		      </label>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
		  <div class='checkbox format-me' data-key='examples_portals'
		       data-compact='yep'>
		    <% if (window.MAINSITE) { %>
		      <span style="margin-right: 10px;">List in Examples:</span>
		      <div class="form-check-inline">
			<input name='profile_example_emulab'
			       class="form-check-input
				      examples_portals_checkbox"
			       data-portal="emulab"
			       <% if (_.has(formfields, "examples_portals") &&
				      formfields.examples_portals
				      .indexOf("emulab") >= 0) { %>
			       checked
			       <% } %>
			       type='checkbox'>
			<label class="form-check-label">
			  Emulab
			</label>
			<input name='profile_example_cloudlab'
			       class="form-check-input
			              examples_portals_checkbox"
			       data-portal="cloudlab"
			       <% if (_.has(formfields, "examples_portals") &&
				      formfields.examples_portals
				       .indexOf("cloudlab") >= 0) { %>
			         checked
			       <% } %>
			       type='checkbox'>
			<label class="form-check-label">
			  Cloudlab
			</label>
			<input name='profile_example_phantomnet'
			       class="form-check-input
				      examples_portals_checkbox"
			       data-portal="phantomnet"
			       <% if (_.has(formfields, "examples_portals") &&
				 formfields.examples_portals
				 .indexOf("phantomnet") >= 0) { %>
			       checked
			       <% } %>
			       type='checkbox'>
			<label class="form-check-label">
			  PhantomNet
			</label>
			<input name='profile_example_powder'
			       class="form-check-input
				      examples_portals_checkbox"
			       data-portal="powder"
			       <% if (_.has(formfields, "examples_portals") &&
				 formfields.examples_portals
				 .indexOf("powder") >= 0) { %>
			       checked
			       <% } %>
			       type='checkbox'>
			<label class="form-check-label">
			  Powder
			</label>
		      </div>
		    <% } else { %>
		      <div class="form-check-inline">
			<input name='profile_example_emulab'
			       class="form-check-input
				      examples_portals_checkbox"
			       data-portal="emulab"
			       <% if (_.has(formfields, "examples_portals") &&
				 formfields.examples_portals
				 .indexOf("emulab") >= 0) { %>
			       checked
			       <% } %>
			       type='checkbox'>
			<label class="form-check-label">
			  List in Examples
			  <a href='#' class='btn btn-xs'
			     style="padding-left: 0px"
			     data-toggle='popover' data-bs-toggle='popover'
			     data-html='true' data-bs-html='true'
			     data-delay='{"hide":500}'
			     data-bs-delay='{"hide":500}'
			     data-content="List this profile on the
					   Examples page">
			    <span class='glyphicon glyphicon-question-sign'
				  style='margin-bottom: 4px;'></span>
			  </a>
			</label>
		      </div>
		    <% } %>
		    <input name='examples_portals'
			   value="<%- formfields.examples_portals %>"
			   type='hidden'>
		  </div>
		</div>
	      </div>
	    <% } %>

	    <!-- The private URL -->
	    <% if (0) { %>
	      <input name="profile_version_url"
		     value="<%- formfields.profile_version_url %>"
		     id='profile_url' readonly
                     class='form-control format-me'
		     data-key='profile_url'
		     data-label='Shared URL'
		     data-help='Anyone with this URL can instantiate
		                this <b>version</b> of your profile'
                     type='text'>
	    <% } %>
	  </fieldset>
	  
	  <!-- Buttons -->
	  <div style="margin-top: 10px;"></div>
	  <div class='form-group'>
            <div class='col-sm-offset-2 offset-sm-2 col-sm-10'>
	      <% if (viewing && canmodify) { %>
		<button class='btn btn-danger btn-xs pull-right' disabled
			id='cancel_edit_button'
			style='margin-right: 10px;'
			type='submit' name='cancel-edit'>
		  Cancel
		</button>
	      <% } %>
	      <% if (!viewing || canmodify) { %>
		<button class='btn btn-primary btn-xs pull-right' disabled
			id='profile_submit_button'
			style='margin-right: 5px;'
			type='submit' name='create'>
		  <%- button_label %>	
		</button>
	      <% } %>
 	      <% if (candelete) { %>
		<button class='btn btn-danger btn-xs pull-left' disabled
			id='profile_delete_button'
			style='margin-right: 10px;'
			type='button' name='delete'>Delete
		</button>
	      <% } %>
	    </div>
	  </div>
	  <div id='rspectext_div'></div>
	</form>
      </div>
    </div>
  </div>
  <!-- Confirm cancel edit -->
  <div id='confirm_cancel_edit_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <center><h4>Confirm to Discard Changes</h4>
	    <br>
            <button class='btn btn-danger btn-sm'
		    id='confirm_cancel_edit'>Confirm</a></center>
	</div>
      </div>
    </div>
  </div>
  <!-- Confirm Tour Reuse -->
  <div id='reuse_tour_modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <p>
	    Your new rspec did not include a Tour section. Is it okay to reuse
	    the tour section from the original rspec, or continue with no
	    Tour section?
	  </p>
	  <br>
          <center>
            <button class='btn btn-danger btn-sm'
		    id='remove_tour_button'
                    style='margin-right: 10px;'
		    type='button'>Continue with no Tour</button>
            <button class='btn btn-default btn-sm'
		    id='reuse_tour_button'
		    type='button'>Reuse Tour</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Convert to geni-lib -->
  <div id='profile-convert-modal' class='modal fade' data-keyboard='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big>Convert your profile to a geni-lib script</big>
	</div>
	<div class='modal-body'>
	  <p>
	    <a href="<%- manual %>/geni-lib/index.html"
	       target="_blank">geni-lib</a>
	    is a tool that allows users to generate RSpec
	    files from Python code. CloudLab offers the ability to use
	    geni-lib scripts as the definition of a profile, rather
	    then the more primitive RSpec format. When you <em>convert
	    a profile to geni-lib</em>, the current rspec is auto
	    converted to the equivalent geni-lib python code. After you
	    <b>Save</b> the converted profile, subsequent changes to
	    the profile source are made to the geni-lib python code
	    instead of the XML (the XML is now read-only).
	    Much more information about profiles
	    and geni-lib scripts can be found in the
	    <a href="<%- manual %>/geni-lib.html" target="_blank">manual</a>.
	  </p>
	  <p>
	    Click on the <b>Continue</b> button to proceed. You will be
	    given a chance to view the new geni-lib python code. If
	    you are happy with it, then be sure to <b>Save</b>
	    the converted profile.
	  </p>
          <center>
            <button class='btn btn-success btn-sm confirm-button'
		    id='profile-convert-confirm'
		    type='button' name='confirm'>Continue
	    </button>
            <button class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    type='button'>Stop
	    </button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Converted to geni-lib -->
  <div id='profile-converted-modal' class='modal fade' data-keyboard='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big>
	    Your rspec has been sucessfully converted to a geni-lib script!
	  </big>
	</div>
	<div class='modal-body'>
	  <p>
	    Be sure to <b>Save</b> your profile if
	    are happy with the new geni-lib defintion.
	  </p>
          <center>
            <button class='btn btn-success btn-sm'
		    id='profile-converted-viewscript'
		    style='margin-right: 10px;'
		    type='button' name='confirm'>View Script
	    </button>
            <button class='btn btn-default btn-sm'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    type='button'>Close
	    </button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Failed to convert to geni-lib -->
  <div id='profile-convert-failed-modal' class='modal fade'
       data-keyboard='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big class="text-danger">
	    Oops, we could not convert your rspec to geni-lib. 
	  </big>
	</div>
	<div class='modal-body'>
	  <p>
	    The following error was reported. Typically it is a minor issue
	    that is easily dealt with by making a small change to your rspec.
	    If the error below does not make sense, then send us an email
	    message, including the error and the profile name. We will help
	    you fix it up.
	  </p>
	  <pre><code id="profile-conversion-failure-message"></code></pre>
	  <br>
          <center>
            <button class='btn btn-default btn-sm'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    type='button'>Close
	    </button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Warn about editing a portal converted geni-lib script -->
  <div id='edit-genilib-warning-modal' class='modal'
       data-keyboard='false'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big class="text-danger">
	    Warning!
	  </big>
	</div>
	<div class='modal-body'>
	  <p>
	    You made a change to the geni-lib script that will make it
	    impossible to continue using the Jacks topology editor
	    (see below). Typically this is the result of adding a
	    comment or a loop construct or something else that cannot
	    be preserved when using Jacks.
	  </p>
	  <p>
	    This is okay, but all future changes must be made to the
	    geni-lib script. Click<b> Continue</b> if this is okay with
	    you.
	  </p>
	  <p>
	    If you want to keep
	    using the visual topology editor, click <b>Cancel</b> and then
	    click on <b>Edit Topology</b> to make changes.
	  </p>
          <center>
            <button class='btn btn-success btn-sm confirm-button'
		    id='edit-genilib-continue'
		    type='button'>Continue
	    </button>
            <button class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    type='button'>Cancel
	    </button>
	  </center>
	  <br>
	  <pre><code id="rtecheck-failure-message"></code></pre>
	</div>
      </div>
    </div>
  </div>
  <!-- Git Repo -->
  <div id='git-repo-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header text-center'>
	  <big>Create a Repository-based Profile</big>
	</div>
	<div class='modal-body'>
	  <p>
	    Provide a git url to a public repository, and we will create your
	    profile from that repository. 
	  </p>
	  <div class="row">
	    <div class='col-sm-8 col-sm-offset-2 offset-sm-2'>
	      <div class="form-group">
		<input id="git-repo-url" type="text" class="form-control"
		       placeholder="https://"
		       <% if (fromrepo) { %>
		       value='<%- formfields.profile_repourl %>'
		       <% } %> >
		<label class="control-label hidden"
		       for="git-repo-url"></label>
	      </div>
	    </div>
	  </div>
	  <br>
          <center>
            <button class='btn btn-success btn-sm confirm-button'
		    id='git-repo-confirm'
		    type='button' name='delete'>Confirm
	    </button>
            <button class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    type='button'>Cancel
	    </button>
	  </center>
	  <div>
	    <hr>
	    <p>
	      Repository based profiles are a great way to combine a
	      git repository (for source code control) and a Cloudlab
	      profile (for experiment control). A demonstration Git
	      repository for you to look at it can be found at
	      <a target="_blank"
		 href="https://github.com/lbstoller/my-profile.git">
		https://github.com/lbstoller/my-profile.git</a>.
	      Please take a look at this repository for more
	      information on how to set up your Git repository
	      so that it can be the basis for your profile.
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <% if (fromrepo) { %>
    <!-- web hook help -->
    <div id='webhook-help-modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <button type='button' class='close btn-close'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    aria-hidden='true'></button>
	    <div class='clearfix'></div>
	    <p>
	      The <em>push URL</em> is an example of a
	      <a href="https://developer.github.com/webhooks/" target="_blank">
		<em>webhook</em></a> supported by public 
	      <a href="https://git-scm.com/" target="_blank">Git</a>
	      repositories like
	      <a href="github.com" target="_blank">github.com</a>,
	      as well as those based
	      on <a href="https://www.gitlab.com/" target="_blank">GitLab</a>.
	    </p>
	    <p>
	      Specifically, a <em>push</em> webhook is used to notify
	      a third party that a new commit has been created, either
	      by a push or by executing a commit via the repository
	      web interface. With <%- window.APTTILE %>, when we receive the
	      notification from your repository, we will fetch from
	      your repository, updating your profile to reflect the
	      current HEAD of your master branch. Branches and tags
	      are updated as well. When complete, we will send you an email
	      confirmation so you know that your profile has been updated.
	    </p>
	    <p>
	      Setting up a webhook is relatively straightforward:
	      <ul>
		<li><b>github.com</b>: Go to your repository and 
		  click on the <b>Settings</b> option
		  in the upper right, then click on <b>Webhooks</b>, then
		  click on the <b>Add Webhook</b> menu option. Paste your
		  push URL into the <b>Payload URL</b> form field, leave
		  everything else as is, and click on the <b>Add Webhook</b>
		  button at the bottom of the form.
		</li>
		<li><b>gitlab</b>: Go to your repository and click on the
		  <span class='glyphicon glyphicon-cog'
			style='margin-bottom: 4px;'></span> in the upper
		  right, then click on the <b>Integrations</b> menu option.
		  Paste your push URL into the <b>URL</b> form field, leave
		  everything else as is, and click on the <b>Add Webhook</b>
		  button at the bottom of the form.
		</li>
		<li><b>bitbucket.org</b>: Go to your repository and click on the
		  <span class='glyphicon glyphicon-cog'
			style='margin-bottom: 4px;'></span> in the lower
		  left, then click on the <b>Webhooks</b> menu option, then
		  click on the <b>Add Webhook</b> button. Give your new
		  webhook a <b>Title</b> and 
		  paste your push URL into the <b>URL</b> form field, leave
		  everything else as is, and click on the <b>Save</b>
		  button at the bottom of the form.
		</li>
	      </ul>
	    </p>
	    <p>
	      
	    </p>
	  </div>
	</div>
      </div>
    </div>
  <% } %>
  <!-- Docstring help -->
  <div id='docstring-help-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <p>
	    When using a geni-lib python script, you set the profile
	    description and instructions <b>within</b> the script source using
	    a <a href="https://en.wikipedia.org/wiki/Docstring">
	    python module docstring</a>, typically at the very beginning of
	    the script. For example:
	  </p>
	  <pre>
"""This is a description of your profile, it can be multi-line.
Every profile must include a description. 

Instructions:
These are instructions for using your profile after it is instantiated.
Instructions are optional.
"""	  </pre>
	  <br>
          <center>
            <button type='button'
                    class='btn btn-default btn-sm' 
                    data-dismiss='modal' data-bs-dismiss='modal'>
	      Close</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Warn parameterized profile -->
  <div id='warn_pp_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <h4>Please Note!</h4>
	  </center>
	  <p>
	    Since you are cloning a profile whose source is a <em>geni-lib
	    python</em> script, you will need to update the images inside
	    the script yourself, we cannot do this for you.  At the end of
	    the image snapshot, we will tell you the new image name so you
	    can edit your script.
	  </p>
	  <br>
          <center>
            <button type='button'
                    class='btn btn-default btn-sm' 
                    data-dismiss='modal' data-bs-dismiss='modal'>
	      Close</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Added accounts -->
  <div id='clone-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <b>Did you add any accounts or groups to your image?</b>
	    <br>
	    <input type=checkbox
		   id='clone-modal-update-prepare' value=yes>
	  </center>
	  <p>
	    Check this box if you installed any software that added new
	    users or groups. If you are not sure, ask us first since
	    checking this box needlessly can have negative side effects.
	  </p>
	  <br>
	  <center>
	    <button type='button'
		    class='btn btn-success btn-sm confirm-button'>Continue</button>
            <button type='button'
                    class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm-update-systemimage-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <center>
	    <h4>You are about to create or update a System Image!</h4>
	  </center>
	  <p>
	    Taking this disk snapshot might result in creating a new
	    system image or updating an existing system image. Are you
	    sure you want to do this?
	  </p>
	  <p>
	  <em>Reminder:</em> You will need to run imagerelease on the
	  cluster (command line).
	  </p>
	  <center>
            <button class='btn btn-danger btn-sm confirm-button'
		    id='confirm-update-systemimage'>Confirm</button>
            <button type='button'
                    class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'		    
		    id='cancel-update-systemimage'>Cancel</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- place to hang the modals for now -->
  <div id='showtopomodal_div'></div>
  <div id='editmodal_div'></div>
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='instantiate_div'></div>
  <div id='ppmodal_div'></div>
  <div id='share_div'></div>
  <div id='share-profile-modal-div'></div>
  <div id='copy_repobased_profile_div'></div>
  <div id='profile-imagelist-modal-div'></div>
  <div id='confirm-delete-profile-div'></div>
  <div id='copy-profile-modal-div'></div>
</div>
<% if (viewing && Object.keys(versions).length > 1) { %>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'>Version History</h4>
      </div>
      <div class='panel-body card-body'>
	<table class='table table-striped table-condensed'>
	  <thead>
	    <tr>
	      <th>Vers</th>
	      <th style="width: 85%">Description</th>
	      <th style='white-space: nowrap;'>
		Created&nbsp;&nbsp;&nbsp;&nbsp;</th>
	      <% if (withpublishing) { %>
	      <th>Published</th>
	      <% } %>
	      <th>From</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(sorted_versions, function(profile) { %>
	    <!-- Do not show deleted profiles (yet) -->
	    <% if (profile.deleted) { return; } %>
	    <% if (profile.uuid != version_uuid) { %>
	    <tr><% } else { %><tr class='success'><% } %>
	      <td>
		<a href='manage_profile.php?action=edit&uuid=<%- profile.uuid %>'>
		  <%- profile.version %></a>
	      </td>
	      <td><%- profile.description %></td>
	      <td style='white-space: nowrap;'><%- profile.created %></td>
	      <% if (withpublishing) { %>
	      <td><%- profile.published %></td>
	      <% } %>
              <td style='text-align:center'>
		<% if (profile.parent_uuid) { %>
		  <% if (profile.version == 0) { %>
		    <a href='show-profile.php?uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		  <% } else { %>
		    <% if (versions[profile.parent_version].deleted) { %>
		      <%- profile.parent_version %>
		    <% } else { %>
	              <a href='manage_profile.php?action=edit&uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		    <% } %>
		  <% } %>
                <% } else { %>
		  &nbsp;
 	        <% } %>
	      </td>
	    </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class='row hidden' id="gitpicker-div">
  <div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'>Repository Brances and Tags</h4>
      </div>
      <div id="gitrepo-picker" class='panel-body card-body'>
      </div>
    </div>
  </div>
</div>

