<style>
 pre {
     white-space: pre-wrap;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 3px;
 }
 tr.group-header td {
     background: #eee;
 } 
 .CodeMirror {
     height: auto !important;
 }
</style>
<div class="row">
  <div class='col-lg-8  col-lg-offset-2
       col-md-8  col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='info-panel'>
      <div class='panel-body'>
	<table class='table table-condensed nospaceafter border-none'>
	  <tr>
	    <td class='border-none'>Name:</td>
	    <td class='border-none'><%- record.name %></td>
	  </tr>
	  <% if (record.profile_uuid) { %>
	    <tr>
	      <td class='border-none'>Profile:</td>
	      <td class='border-none'>
		<a target=_blank
		   href='show-profile.php?uuid=<%- record.profile_uuid %>'>
		  <%- record.profile_name %></a></td>
	    </tr>
	  <% } %>
	  <% if (record.reporef) { %>
	    <tr>
	      <td class='border-none'>RefSpec:</td>
	      <td class='border-none'>
		<span><%= record.reporef %></span>
		(<%= record.repohash.substring(0,8) %>)
	      </td>
	    </tr>
	  <% } %>
	  <tr>
	    <td class='border-none'>Creator:</td>
	    <td class='border-none'>
	      <a href="user-dashboard.php?user=<%- record.creator_idx %>">
		<%- record.creator %></a></td>
	  </tr>
	  <% if (record.pid) { %>
	    <tr>
	      <% if (record.pid == record.gid) { %>
		<td class='border-none'>Project:</td>
		<td class='border-none'>
		  <a href="show-project.php?pid=<%- record.pid %>">
		    <%- record.pid %></a></td>
	      <% } else { %>
		  <td class='border-none'>Group:</td>
		  <td class='border-none'>
		    <a href="show-group.php?pid=<%- record.pid %>&gid=<%- record.gid %>">
		      <%- record.pid %>:<%- record.gid %></a></td>
	      <% } %>
	    </tr>
	  <% } %>
	  <% if (record.start_at) { %>
	    <tr>
	      <td class='border-none'>Created:</td>
	      <td class='border-none format-date'><%- record.created %></td>
	    </tr>
	    <tr>
	      <td class='border-none'>Scheduled:</td>
	      <td class='border-none format-date'><%- record.start_at %></td>
	    </tr>
	  <% } %>
	  <% if (record.stop_at) { %>
	    <tr>
	      <td class='border-none'>Stop:</td>
	      <td class='border-none format-date'><%- record.stop_at %></td>
	    </tr>
	  <% } %>
	  <tr>
	    <td class='border-none'>Started:</td>
	    <td class='border-none format-date'><%- record.started %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>Destroyed:</td>
	    <td class='border-none'>
	      <span class='format-date'><%- record.destroyed %></span>
	    </td>
	  </tr>
	</table>
	<% if (record.profile_uuid) { %>
	  <div class='pull-right'>
	    <a href="" class='btn btn-info btn-xs pull-right'
	      style='margin-right: 10px;'
		    id='rerun_button'
		    target='_blank'
		    type='button'>Run Again</a>
	    <button class='btn btn-info btn-xs pull-right hidden'
		    style='margin-right: 10px;'
		    id='save_paramset_button'
		    data-toggle='popover'
		    data-delay='{"hide":100, "show":300}'
		    data-content='Save the parameters used to create this
				  experiment, so you can quickly apply them
				  when starting a new experiment using this
				  profile. Click for more information.'
		    type='button'>Save Parameters</button>
	  </div>
	<% } %>
	<button class='btn btn-sm btn-info pull-right hidden'
		id='txgraph_button' type=button
		style='margin-right: 10px;'
		data-toggle='popover'
	        data-delay='{"show":300}'
		data-html='true'
		data-content="Transmission history for this experiment."> 
	  <span class="glyphicon glyphicon-align-left"
		style="margin-right: 5px;"></span></button>
	<div class='pull-left'>
	  <a class='btn btn-info btn-xs pull-left hidden'
             style='margin-right: 10px;'
	     id='sliverinfo_button'
             href='#'
	     target='_blank'
             type='button'>Logs</a>
	  <div id='sliverinfo_dropdown' class='hidden'>
	    <select style='margin-right: 0px;'>
	      <option value='selectme'>Logs</option>
	    </select>
	    <a class='btn btn-info btn-tiny'
	       style='margin-right: 10px;'
	       href='#'
	       target='_blank'
	       type='button'>Go</a>
	  </div>
	</div>
	<% if (record.logfileid) { %>
	  <div class='pull-left'>
	    <a style='margin-right: 10px;'
	       id='logfile_button'
               href='spewlogfile.php?logfile=<%- record.logfileid %>'
	       target='_blank'
               type='button'>Portal Log</a>
	  </div>
	<% } %>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <!-- Add a hidden div for errors returned by the instantiation. -->
  <div class='row hidden' id='error_panel'>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <div class="panel panel-danger">
	<div class="panel-heading">
          <center><h4 class="panel-title">Error Message</h4></center>
	</div>
	<div class="panel-body"><code style="white-space: pre-wrap"
				      id="error_panel_text"></code>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row hidden' id='error-panel-new'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <center><h4 class="panel-title">Error Information</h4></center>
      </div>
      <div class="panel-body">
	<div class="multisite-errors hidden">
	  <div class="panel-group" style="margin-bottom: 5px; "
	       role="tablist">
	    <div class="panel panel-danger error-template hidden">
	      <div class="panel-heading" role="tab">
		<h4 class="panel-title">
		  <a role="button" data-toggle="collapse"
		     style="text-decoration: underline;"
		     data-parent="#error-panel-new .panel-group"
		     href="#fooey"></a>
		</h4>
	      </div>
	      <div id="fooey" class="panel-collapse collapse" role="tabpanel">
		<div class="panel-body">
		  <div class="error-message hidden"
		       style="margin-bottom:10px;"></div>
		  <div style="padding-left: 20px;">
		    <code class="error-cause"
			  style="white-space: pre-wrap; padding:0px;"></code>
		  </div>
		</div>
	      </div>
	    </div>	  
	  </div>
	</div>
	<div class="singlesite-errors hidden">
	  <div class="error-message" style="margin-bottom:10px;"></div>
	  <div style="padding-left: 20px;">
	    <code class="error-cause"
		  style="white-space: pre-wrap; padding:0px;"></code></div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg-12  col-lg-offset-0
	      col-md-12  col-md-offset-0
	      col-sm-12  col-sm-offset-0
	      col-xs-12  col-xs-offset-0'>
    <div class='panel panel-default invisible' id='showtopo_container'>
      <div class='panel-body'>
	<div id='quicktabs_div'v>
	  <ul id='quicktabs_ul' class='nav nav-tabs'>
	    <li class='hidden'>
              <a href='#topology' data-toggle='tab'>Topology View</a>
            </li>
	    <li class='hidden'>
              <a href='#listview' data-toggle='tab'>List View</a>
            </li>
	    <li class="active">
              <a href='#rspec' id='show_rspec_tab'
		 data-toggle='tab'>Rspec</a>
            </li>
	    <li class='hidden'>
              <a href='#manifest' id='show_manifest_tab'
		 data-toggle='tab'>Manifest</a>
            </li>
	    <li class='hidden'>
              <a href='#bindings' id='show_bindings_tab'
		 data-toggle='tab'>Bindings</a>
            </li>
	  </ul>
	  <div id='quicktabs_content' class='tab-content'>
            <div class='tab-pane hidden' id='topology'>
	      <div class='showtopology-bare'></div>
	    </div>
            <div class='tab-pane hidden' id='listview'>
	      <div id='showtopo_listview'>
		<table class='tablesorter table-hover' id='listview_table'>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Node</th>
                      <th>Type</th>
		      <th class='sorter-false hidden monitor-links'>Monitor</th>
                      <th>Image</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
		</table>
              </div>
            </div>
	    <div class='tab-pane active' id='rspec'>
              <div id='rspec_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='manifest'>
              <div id='manifest_textarea' style='width: 100%;'></div>
	    </div>
            <div class='tab-pane hidden' id='bindings'>
	      <table class='table table-condensed'
                     id='bindings_table'>
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Default</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
	      </table>
            </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div id='waitwait_div'></div>
  <div id='oops_div'></div>
  <div id='save_paramset_div'></div>
  <div id='txgraph_div'></div>
</div>
