<div class='row'>
  <div class='col-sm-12' id="mobile-endpoints-table-div">
  </div>
</div>
<% if (!window.ISADMIN || window.SHOWMAP) { %>
  <div class="row">
    <iframe src="powder-map.php?embedded=1&onlineonly=1"
	    width="100%" height="1200"></iframe>
  </div>
<% } %>
