<div id='myusage_modal' class='modal' style='z-index:1051;'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
                data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<p>
          Usage is tracked in terms of <em>node hours</em>: the number of nodes
          multiplied by the number of hours they are allocated.
	</p>
	<p>
	  You can find your current usage by selecting <b>My
	  Experiments</b> from the <b>Actions</b> menu. You can view
	  your historical usage by selecting <b>My History</b>.
	</p>
      </div>
    </div>
  </div>
</div>
