<style type='text/css'>
       .blog-page-title {
	   font-size: 24px;
	   line-height: 1.5;
       }
       .blog-main {
	   line-height: 1.5;
       }
       .blog-post {
	   margin-bottom: 30px;
       }
       .blog-post-title {
	   margin-bottom: 0px;
	   font-size: 25px;
       }
       .blog-post-subtitle {
	   margin-bottom: 10px;
	   font-size: smaller;
	   color: #999;
       }
       .blog-post-body {
	   font-size: larger;
	   margin-bottom: 20px;
       }
       .blog-post-body h1 { font-size: 30px; }
       .blog-post-body h2 { font-size: 24px; }
       .blog-post-body h3 { font-size: 18px; }
       .blog-post-body h4 { font-size: 14px; }
       .blog-post-body h5 { font-size: 12px; }
       .blog-post-body h6 { font-size: 10px; }
</style>
<div class="row">
  <div id="blog-page-title"
       class='col-sm-10 col-sm-offset-1 offset-sm-1 blog-page-title'>
    <center>News
      <a href='edit-news.php' id="new-news" class='btn btn-xs hidden'>
	<span style='margin-bottom: 4px; margin-left: 0px;'
	      class='glyphicon glyphicon-new-window'></span></a>
    </center>
  </div>
  <div id="blog-main"
       class='col-sm-10 col-sm-offset-1 offset-sm-1 blog-main mt-2'>
  </div>
</div>
<div class="row">
  <a href="" id="more-entries">
    <div class="well well-sm col-sm-10 col-sm-offset-1 offset-sm-1">
      <div class="text-center">More Entries</div>
    </div>
  </a>
</div>
<div id='oops_div'></div>
<div id='confirm_div'></div>

