<table id="history-table"
       class='tablesorter'>
  <thead>
    <% if (shownodeid) { %>
      <th>Node ID</th>
    <% } %>
    <th>PID</th>
    <th>EID</th>
    <th class="sorter-false"><img src="images/slice.png"></th>
    <th>User</th>
    <th class="sorter-sugar">Allocated</th>
    <th class="sorter-sugar">Released</th>
    <th class="sorter-false">Duration</th>
  </thead>
  <tbody>
    <% _.each(history, function (entry) { %>
      <tr>
	<% if (shownodeid) { %>
	  <td><a href="show-node.php?node_id=<%- entry.node_id %>"
		 target="_blank"><%- entry.node_id %></a></td>
	<% } %>
	<% if (!entry.pid) { %>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	<% } else { %>
	  <td><a href="show-project.php?pid=<%- entry.pid_idx %>"
	    target="_blank"><%- entry.pid %></a></td>
	  <td>
	    <% if (entry.isportal) { %>
	      <% if (entry.isrunning) { %>
		<a href="status.php?uuid=<%- entry.instance_uuid %>"
		   target="_blank"><%- entry.eid %></a>
	      <% } else { %>
		<a href="memlane.php?uuid=<%- entry.instance_uuid %>"
		   target="_blank"><%- entry.eid %></a>
	      <% } %>
	    <% } else { %>
	      <% if (entry.running) { %>
		<a href="<%- window.CLASSIC %>/showexp.php3?experiment=<%- entry.eid_idx %>"
		   target="_blank"><%- entry.eid %></a>
	      <% } else { %>
		<a href="<%- window.CLASSIC %>/showexpstats.php3?record=<%- entry.eid_idx %>"
		   target="_blank"><%- entry.eid %></a>
	      <% } %>
	    <% } %>
	  </td>
	  <td>
	    <% if (_.has(entry, "slice_uuid")) { %>
	      <a href="../genihistory.php?slice_uuid=<%- entry.slice_uuid %>"
		 target="_blank"><span class='glyphicon glyphicon-link'
				       style='margin-bottom: 4px;'></span></a>
	    <% } %>
	  </td>
	  <td><a href="user-dashboard.php?user=<%- entry.uid %>"
		 target="_blank"><%- entry.uid %></a></td>
	<% } %>
	<td style='white-space: nowrap;'
	    class="format-date"><%- entry.allocated %></td>
	<td style='white-space: nowrap;'
	    class="format-date"><%- entry.released %></td>
	<td style='white-space: nowrap;'>
	  <%- entry.duration_string %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
