<div class="panel panel-default" style="margin-bottom: 0px;">
  <div class="panel-body" id="map-controls"
       style="padding-left: 10px; padding-right: 5px;">
    <center>
      Filtering Options
    </center>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="FE"
	       data-radio-txrx="RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="B210">
	Fixed Endpoint B210 (RX) broadband antenna
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="FE"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="B210">
	Fixed Endpoint B210 (TX/RX) broadband antenna
      </label>
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="FE"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="COTS-UE">
	Fixed Endpoint COTS UE (TX/RX) broadband antenna
      </label>	
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="BS"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="cbrs"
	       data-radio-htype="X310">
	Rooftop X310 (TX/RX) C-band/CBRS antenna
      </label>	
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="BS"
	       data-radio-txrx="RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="X310">
	Rooftop X310 (RX) broadband antenna
      </label>	
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="BS"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna=""
	       data-radio-htype="Faros">
	Rooftop mMIMO array
      </label>	
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="BS"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna=""
	       data-radio-htype="Iris">
	Rooftop mMIMO Iris clients
      </label>	
    </div>
    <div class="checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type"
	       data-radio-itype="DD"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="cbrs"
	       data-radio-htype="B210">
	Dense B210 (TX/RX) RF frontend C-band/CBRS antenna
      </label>	
    </div>
    <div class="checkbox mobile-checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type mobile-filter"
	       data-radio-itype="ME"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="B210">
	Mobile Endpoint B210 (TX/RX) broadband antenna
      </label>	
    </div>
    <div class="checkbox mobile-checkbox">
      <label class="checkbox">
	<input type="checkbox" class="radio-type mobile-filter"
	       data-radio-itype="ME"
	       data-radio-txrx="TX/RX"
	       data-radio-antenna="broadband"
	       data-radio-htype="UE">
	Mobile Endpoint COTS UE (TX/RX) broadband antenna
      </label>	
    </div>
  </div>
</div>

