<div>
<form id='pp_form'
      class='form-horizontal' role='form' method='post'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= formfrag %>
      <center>
        <button class='btn btn-primary btn-sm'
		style='margin-right: 20px;'
                id='modal_profile_continue_button'
                type='button' name='create'>Continue
	</button>
        <button class='btn btn-default btn-sm'
		style='margin-right: 20px;'
		data-dismiss='modal'
                type='button'>Cancel
	</button>
      </center>
    </div>
  </div>
</form>
</div>
