<form>
  <div class="row justify-content-center align-items-center mt-3">
    <div class="col-sm-1">
      <div class="input-group input-group-sm">
	<span class="input-group-text">Days:</span>
	<input type="text" class="form-control" id=days
	       value="<%- days %>">
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-check-inline">
	<input class="form-check-input"
	       <% if (allusers) { %>checked<% } %>
	       type="checkbox" id="allusers">
	<label class="form-check-label" for="allusers">
        All Users</label>
	<button class='btn btn-primary btn-xs ms-2' 
		id='update-results'
		type='submit'>Go</button>
      </div>
    </div>
  </div>
</form>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel  card panel-default'>
      <div class='panel-body card-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="nav-item">
		  <a href="#users" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Users</a></li>
		<li role="presentation" class="nav-item">
		  <a href="#projects" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Projects</a></li>
		<li role="presentation" class="nav-item">
		  <a href="#profiles" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Profiles</a></li>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="users">
		  <div class="row justify-content-start">
		    <div class="col-sm-3">
		      <input class='form-control form-control-md search'
			     type='search' data-column='all'
			     id='users_search' placeholder='Search Table'>
		    </div>
		    <div class="col-sm-3">
		      <div class='output-dropdown-control'></div>
		    </div>
		  </div>
		  <div class="table-responsive">
		    <table class='tablesorter' id='users_table'>
		      <thead>
			<tr>
			  <th>UID</th>
			  <th>Rank</th>
			  <th>Name</th>
			  <th>Portal</th>
			  <th>Affiliation</th>
			  <th>Pnodes</th>
			  <th>Phours</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(users, function(value, uid) { %>
			  <tr>
			    <td>
			      <a href='user-dashboard.php?user=<%= uid %>'>
				<%= uid %></a>
			    </td>
			    <td><%= value.rank %></td>
			    <td><%= value.usr_name %></td>
			    <td><%= value.portal %></td>
			    <td><%= value.usr_affil %></td>
			    <td><%= value.pnodes %></td>
			    <td><%= value.phours %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="projects">
		  <div class="row justify-content-start">
		    <div class="col-sm-3">
		      <input class='form-control form-control-md search'
			     type='search' data-column='all'
			     id='projects_search' placeholder='Search Table'>
		    </div>
		    <div class="col-sm-3">
		      <div class='output-dropdown-control'></div>
		    </div>
		  </div>
		  <div class="table-responsive">
		    <table class='tablesorter' id='projects_table'>
		      <thead>
			<tr>
			  <th>PID</th>
			  <th>Rank</th>
			  <th>Leader</th>
			  <th>Portal</th>
			  <th>Affiliation</th>
			  <th>Pnodes</th>
			  <th>Phours</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(projects, function(value, pid) { %>
			  <tr>
			    <td>
			      <a href='show-project.php?project=<%= pid %>'>
				<%= pid %></a>
			    </td>
			    <td><%= value.rank %></td>
			    <td>
			      <a href='user-dashboard.php?user=<%= value.usr_uid %>'>
				<%= value.usr_name %></a>
			    </td>
			    <td><%= value.portal %></td>
			    <td><%= value.usr_affil %></td>
			    <td><%= value.pnodes %></td>
			    <td><%= value.phours %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div class="row justify-content-start">
		    <div class="col-sm-3">
		      <input class='form-control form-control-md search'
			     type='search' data-column='all'
			     id='profiles_search'
			     placeholder='Search Table'>
		    </div>
		    <div class="col-sm-3">
		      <div class='output-dropdown-control'></div>
		    </div>
		  </div>
		  <div class="table-responsive">
		    <table class='tablesorter' id='profiles_table'>
		      <thead>
			<tr>
			  <th>Name</th>
			  <th>Rank</th>
			  <th>PID</th>
			  <th>Count</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(profiles, function(value, rank) { %>
			  <tr>
			    <td>
			      <% if (value.uuid) { %>
				<a href='show-profile.php?uuid=<%= value.uuid %>'>
				  <%= value.name %></a>
			      <% } else { %>
				<%= value.name %>
			      <% } %>
			    </td>
			    <td><%= value.rank %></td>
			    <td>
			      <a href='show-project.php?project=<%= value.pid %>'>
				<%= value.pid %></a>
			    </td>
			    <td><%= value.count %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
