<div>
  <table class='tablesorter'>
    <thead>
      <tr>
	<th>Experiment</th>
	<th>User</th>
	<th>Project</th>
	<th data-placeholder="low - high">Lower (MHz)</th>
	<th data-placeholder="low - high">Upper (MHz)</th>
	<th>Type</th>
	<th>Target</th>
	<th>Started</th>
	<th>Destroyed</th>
      </tr>
    </thead>
    <tbody>
      <% var prevuuid = null; %>
      <% _.each(ranges, function(range) { %>
	<tr>
	  <% if (prevuuid && range.uuid == prevuuid) { %>
	    <td><%- range.name %></td>
	  <% } else { %>
	    <td><a href="memlane.php?uuid=<%- range.uuid %>"
		   target="_blank">
	      <%- range.name %></a>
	      <% if (range.txlist) { %>
		<a href="#" class="pull-right txgraph-button"
		   data-key="<%- range.key %>">
		  <span class="glyphicon glyphicon-align-left"
			style="margin-right: 5px;"></span></a>
	      <% } %>
	    </td>
	  <% } %>
	  <% prevuuid = range.uuid; %>
	  <td><a href="user-dashboard.php?user=<%- range.uid %>#myprofile"
		 target="_blank">
	    <%- range.uid %></a></td>
	  <td><a href="show-project.php?project=<%- range.pid %>"
		 target="_blank">
	    <%- range.pid %></a></td>
	  <td><%- range.freq_low %></td>
	  <td><%- range.freq_high %></td>
	  <td><%- range.type %></td>
	  <td><%- range.target %></td>
	  <td><%- moment(range.started).format("lll") %></td>
	  <td><%- moment(range.destroyed).format("lll") %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
