<div class='panel card panel-default'>
  <div class="panel-heading card-header">
    <center>
      <h3 class="panel-title card-title">All Route Reservations</h3>
    </center>
  </div>
  <div class='panel-body card-body' style="padding: 2px;">
    <table class='tablesorter route-list'>
      <thead>
	<th>Route Name</th>
	<th>Route ID</th>
	<th>Start</th>
	<th>End</th>
      </thead>
      <tbody>
	<% _.each(routes, function(info) { %>
	  <tr>
	    <td><%- info.routename %></td>
	    <td><%- info.routeid %></td>
	    <td class="format-date"><%- info.start %></td>
	    <td class="format-date"><%- info.end %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>

