<style>
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    font-size: small;
}
.panel-body > table {
    margin-bottom: 0px;
 }
 .tablesorter, .tablesorter .tablesorter-filter {
     width: auto;
 } 
</style>
<div class='col-xs-12'>
  <div>
    <div class='panel panel-default'>
      <div class='panel-heading text-center'>
        <h3 class='panel-title'>Node Log for <%- node_id %></h3>
      </div>
      <div class='panel-body'>
	<table id="log-table"
	       class='tablesorter'>
	  <thead>
	    <th class="sorter-false filter-false" style="width: 15px;"></th>
	    <th class="sorter-false filter-false" style="width: 50px;">ID</th>
	    <th style="width: 25px;">Type</th>
	    <th class="sorter-sugar filter-false" style="width: 50px;">Reported</th>
	    <th>Reporter</th>
	    <th class="sorter-false">Entry</th>
	  </thead>
	  <tbody>
	    <% _.each(entries, function (entry) { %>
	      <tr data-logid="<%- entry.log_id %>">
		<td>
		  <a href="#" class="delete-entry-button">
		    <span class='glyphicon glyphicon-remove'
			  style='color: red; margiddn-left: 5px;
				 margin-ddbottom: 4px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Delete this entry'></span>
		  </a>
		</td>
		<td><%- entry.log_id %></td>
		<td><%- entry.type %></td>
		<td style='white-space: nowrap;'
		    class="format-date"><%- entry.reported %></td>
		<td><%- entry.reporter %></td>
		<td><%= entry.entry%>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
 	<% if (isadmin) { %>
	  <center style="margin-top: 10px;">
	    <button class='btn btn-primary btn-xs'
		    id="new-entry-button"
		    type='button'>New Log Entry</button>
	  </center>
	<% } %>
      </div>
    </div>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
<div id='confirm_div'></div>
<div id='save-log-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
	<center><h4>Create a log entry</h4></center>
      </div>
      <div class='modal-body'>
        <center>
	  <div>
	    Please provide a brief log message.
	    <div>
	      <textarea id="log-entry" style="width: 80%;"
			rows=2 type='textarea'></textarea>		
	      <div class="text-danger hidden log-error entry-error"
		   style="text-align: center;"></div>
	    </div>
	  </div>
	  <div style="margin-top: 15px;">
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
	    <button type='button' class='btn btn-success btn-sm'
		    id='save-log-confirm'>
              Save</button>
	    <div class="text-danger hidden log-error general-error"
		 style="text-align: center;"></div>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
