<style>
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: small;
 //   font-height: 18px;
}
.panel-body card-body > table {
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
	width: 80px;
    }
    .dl-horizontal dd {
	margin-left: 100px;
    }
 }
.longline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 0;
 }
.highlight {
    background-color: #f39c12;
 }
.table-fixed {
    overflow-y: auto;
    height: 400px;
 }
.table-fixed th { background:#eee; }
</style>
<div class='col-lg-8 col-lg-offset-2 offset-lg-2
            col-md-8 col-md-offset-2 offset-md-2
            col-sm-8 col-sm-offset-2 offset-sm-2'>
  <div>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
 	<% if (isadmin && window.ISEMULAB) { %>
	  <a href="../shownode.php3?node=<%= fields.node_id %>&classic=1"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Classic show node page"
             type='button'>Classic</a>
	<% } %>
 	<% if (window.ISEMULAB && window.CANREBOOT) { %>
	  <a href="#" id="reboot-button"
	     class='btn btn-danger btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Reboot Node"
             type='button'>Reboot</a>
	<% } %>
 	<% if (window.ISEMULAB && window.CONSOLEALLOWED && fields.hasconsole &&
	  browserconsole) { %>
	  <a href="console.php?node=<%= fields.node_id %>"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     target="_blank"
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Console Access"
             type='button'>Console</a>
	<% } %>
 	<% if (window.ISEMULAB && window.CONSOLEALLOWED && fields.hasconsole) { %>
	  <a href="../bootlog.php3?node=<%= fields.node_id %>"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Boot setup log"
             type='button'>Setup Log</a>
	<% } %>
 	<% if (window.ISEMULAB && window.CONSOLEALLOWED && fields.hasconsole) { %>
	  <a href="../spewconlog.php3?node=<%= fields.node_id %>&linecount=1000"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Console log tail"
             type='button'>Console Log</a>
	<% } %>
 	<% if (isadmin && window.ISEMULAB) { %>
	  <a href="show-nodelog.php?node=<%= fields.node_id %>"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Node message log"
             type='button'>Admin Log</a>
	  <a href="show-nodehistory.php?node_id=<%= fields.node_id %>"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Node History"
             type='button'>History</a>
	<% } %>
	<% if (window.HASHWINFO) { %>
	  <a href="show-hardware.php?node_id=<%= fields.node_id %>"
	     class='btn btn-info btn-xs pull-left'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     title="Detailed hardware info"
             type='button'>Hardware Details</a>
	<% } %>
        <h3 class='panel-title card-title'>Node <%- fields.node_id %></h3>
      </div>
      <div class='panel-body card-body'>
	<table class='table table-condensed table-bordered'>
	  <tr>
	    <td>Node ID</td>
	    <td><%- fields.node_id %></td>
	  </tr>
	  <% if (fields.node_id != fields.phys_nodeid) { %>
	    <tr>
	      <td>Physical Node</td>
	      <td><a href="show-node.php?node_id=<%= fields.phys_nodeid %>">
		<%- fields.phys_nodeid %></a></td>
	    </tr>
	  <% } %>
	  <% if (_.has(fields, "expinfo") && fields.expinfo) { %>
	    <tr>
	      <td>Experiment</td>
	      <td><a href="<%= fields.expinfo.url %>">
		<%- fields.expinfo.pid %>/<%- fields.expinfo.eid %></a></td>
	    </tr>
	  <% } %>
	  <tr>
	    <td>Type</td>
	    <td><a href="<%= fields.type_url %>">
	      <%- fields.type %></a></td>
	  </tr>
	  <tr>
	    <td>Class</td>
	    <td><%- fields.class %></td>
	  </tr>
	  <tr>
	    <td>Control IP</td>
	    <td><%- fields.control_ip %></td>
	  </tr>
	  <% if (!window.ISGUEST && fields.management_ip) { %>
	    <tr>
	      <td>Management IP</td>
	      <td><%- fields.management_ip %></td>
	    </tr>
	  <% } %>
	  <% if (fields.role != "testswitch" && fields.role != "ctrlswitch") { %>
	    <tr>
	      <td>Event State</td>
	      <td class=""><%- fields.eventstate %></td>
	    </tr>
	    <tr>
	      <td>Alloc State</td>
	      <td class=""><%- fields.allocstate %></td>
	    </tr>
	    <% if (_.has(fields, "def_boot_image_uuid")) { %>
	      <tr>
		<td>Boot Image</td>
		<td><a href="<%= fields.def_boot_image_url %>">
		  <%- fields.def_boot_image_name + ":" +
		  fields.def_boot_image_vers %></a>
		</td>
	      </tr>
	      <% if (_.has(fields, "def_boot_cmd_line")) { %>
		<tr>
		  <td>Def Boot Cmdline</td>
		  <td class="longline"><%- fields.def_boot_cmd_line %></td>
		</tr>
	      <% } %>
	    <% } %>
	    <% if (_.has(fields, "temp_boot_osinfo_uuid")) { %>
	      <tr>
		<td>Temp Boot OS</td>
		<td><a href="<%= fields.temp_boot_osinfo_url %>">
		  <%- fields.temp_boot_osinfo_name %></a>
		</td>
	      </tr>
	    <% } %>
	    <% if (_.has(fields, "next_boot_osinfo_uuid")) { %>
	      <tr>
		<td>Next Boot OS</td>
		<td><a href="<%= fields.next_boot_osinfo_url %>">
		  <%- fields.next_boot_osinfo_name %></a>
		</td>
	      </tr>
	      <% if (_.has(fields, "next_boot_cmd_line")) { %>
		<tr>
		  <td>Next Boot Cmdline</td>
		  <td class="longline"><%- fields.next_boot_cmd_line %></td>
		</tr>
	      <% } %>
	    <% } %>
	    <tr>
	      <td>OP Mode</td>
	      <td><%- fields.op_mode %></td>
	    </tr>
	    <% if (_.has(fields, "pxe_boot_path")) { %>
	      <tr>
		<td>PXE Boot Path</td>
		<td class="longline"><%- fields.pxe_boot_path %></td>
	      </tr>
	    <% } %>
	    <% if (_.has(fields, "next_pxe_boot_path")) { %>
	      <tr>
		<td>Next PXE Boot Path</td>
		<td class="longline"><%- fields.next_pxe_boot_path %></td>
	      </tr>
	    <% } %>
	  <% } %>
	  <tr>
	    <td>Role</td>
	    <td><%- fields.role %></td>
	  </tr>
	  <% if (fields.inception) { %>
	    <tr>
	      <td>Inception</td>
	      <td class="format-date"><%- fields.inception %></td>
	    </tr>
	  <% } %>
	  <% if (fields.reservable && isadmin) { %>
	    <tr>
	      <td>Reservable</td>
	      <td>Yes</td>
	    </tr>
	  <% } %>
	  <% if (fields.subbossinfo && isadmin) { %>
	    <% _.each(fields.subbossinfo, function(val, key) { %>
	      <tr>
		<td><%- key %></td>
		<td><%- val %></td>
	      </tr>
	    <% }); %>
	  <% } %>
	  <% if (_.has(fields, "reserved_pid") && isadmin) { %>
	    <tr>
	      <td>Pre Reserve</td>
	      <td><a href="show-project.php?pid=<%- fields.reserved_pid %>">
		<%- fields.reserved_pid %></a>
		<% if (_.has(fields, "reservation_name")) { %>
		  (<%- fields.reservation_name %>)
		<% } %>
	      </td>
	    </tr>
	  <% } %>
	  <% if (fields.outlet && isadmin) { %>
	    <tr>
	      <td>Outlet</td>
	      <td>
		<% if (_.has(fields.outlet, "outlet")) { %>
		  <%
		  var url = 'show-node.php?node_id=' + fields.outlet.power_id;
		  %>
		  <a href='<%- url %>' target=_blank><%- fields.outlet.power_id %></a>:<%- fields.outlet.outlet %>
		<% } else { %>
		  <%- fields.outlet.power_id %>
		<% } %>
	      </td>
	    </tr>
	  <% } %>
	  <% if (_.has(fields, "urn")) { %>
	    <tr>
	      <td>URN</td>
	      <td>
		<%- fields.urn %>
	      </td>
	    </tr>
	  <% } %>
	  <% if (fields.tipline && isadmin) { %>
	    <tr>
	      <td>Tipline</td>
	      <td>
		<%- fields.tipline.server %>:<%- fields.tipline.tipname %>
	      </td>
	    </tr>
	  <% } %>
	</table>
      </div>
    </div>
  </div>
</div>
<% if (_.has(fields, "expinfo") && fields.expinfo) { %>
  <div class='col-lg-8 col-lg-offset-2 offset-lg-2
              col-md-8 col-md-offset-2 offset-md-2
              col-sm-8 col-sm-offset-2 offset-sm-2'>
    <div>
      <div class='panel  card panel-default'>
	<div class='panel-heading card-header'>
	  <h3 class="panel-title card-title">Experiment Related Info</h3>
	</div>
	<div class="panel-body card-body">
	  <table class='table table-condensed table-bordered'>
	    <tr>
	      <td class="col-sm-3">Project</td>
	      <td><a href="show-project.php?pid=<%- fields.expinfo.pid %>">
		<%- fields.expinfo.pid %></a></td>
	    </tr>
	    <tr>
	      <td>Experiment</td>
	      <td><a href="<%= fields.expinfo.url %>">
		<%- fields.expinfo.eid %></a></td>
	    </tr>	
	    <tr>
	      <td>Node Vname</td>
	      <td><%= fields.expinfo.vname %></td>
	    </tr>	
	    <% if (_.has(fields.expinfo, "startupcmd")) { %>
	      <tr>
		<td>Startup Command</td>
		<td class="longline"><%- fields.expinfo.startupcmd %></td>
	      </tr>
	      <tr>
		<td>Startup Exit Status</td>
		<td class="longline"><%- fields.expinfo.startstatus %></td>
	      </tr>
	    <% } %>
	    <% if (_.has(fields.expinfo, "tarballs")) { %>
	      <tr>
		<td>Tarballs</td>
		<td class="longline"><%- fields.expinfo.tarballs %></td>
	      </tr>
	    <% } %>
	    <% if (_.has(fields.expinfo, "rpms")) { %>
	      <tr>
		<td>Rpms</td>
		<td class="longline"><%- fields.expinfo.rpms %></td>
	      </tr>
	    <% } %>
	    <tr>
	      <td>Idle Time</td>
	      <td><%- fields.expinfo.idletime %> hours</td>
	    </tr>
	    <% if (_.has(fields.expinfo, "activity")) { %>
	      <tr>
		<td>Last Activity Report</td>
		<td class="format-date">
		  <%- fields.expinfo.activity.last_report %></td>
	      </tr>
	      <tr>
		<td>Last CPU Activity</td>
		<td class="format-date">
		  <%- fields.expinfo.activity.last_cpu_act %></td>
	      </tr>
	      <tr>
		<td>Last TTY Activity</td>
		<td class="format-date">	
		  <%- fields.expinfo.activity.last_tty_act %></td>
	      </tr>
	      <tr>
		<td>Last Net Activity</td>
		<td class="format-date">
		  <%- fields.expinfo.activity.last_net_act %></td>
	      </tr>
	    <% } %>
	    <tr>
	      <td>Router Type</td>
	      <td><%- fields.expinfo.routertype %></td>
	    </tr>
	    <% if (_.has(fields.expinfo, "root_password")) { %>
	      <tr>
		<td>Root Password</td>
		<td><%- fields.expinfo.root_password %></td>
	      </tr>
	    <% } %>
	  </table>
	</div>
      </div>
    </div>
  </div>
<% } %>
<% if (fields.attributes || fields.typeattributes ||
       fields.features || fields.typefeatures) { %>
  <div class='col-lg-6 col-lg-offset-3 offset-lg-3
              col-md-6 col-md-offset-3 offset-md-3
              col-sm-8 col-sm-offset-2 offset-sm-2'>
    <div>
      <div class='panel  card panel-default'>
	<div class='panel-heading card-header'>
	  <h3 class="panel-title card-title">Attributes and Features
	    <a href="#" type="button "class='btn btn-xs'
		    data-toggle='modal'
		    data-target="#info-modal"
		    data-trigger="click">
	      <span style='margin-bottom: 4px; margin-left: 0px;'
		    class='glyphicon glyphicon-question-sign'></span>
	    </a>
	  </h3>
	</div>
	<div class="panel-body card-body">
	  <table class='table table-condensed table-bordered'>
	    <% if (fields.attributes || fields.typeattributes) { %>
	      <thead>
		<th>Attribute</th>
		<th>Value</th>
	      </thead>
	      <tbody>
		<% _.each(fields.attributes, function(val, key) { %>
		  <tr>
		    <td><%- key %></td>
		    <td><%- val %></td>
		  </tr>
		<% }); %>
		<% _.each(fields.typeattributes, function(val, key) { %>
		  <% if (!(key == "processor" ||
		           key == "dom0mem" ||
		           key.startsWith("hw_"))) { return; } %>
		  <tr>
		    <td><%- key %></td>
		    <td><%- val %></td>
		  </tr>
		<% }); %>
	      </tbody>
	    <% } %>
	    <% if (fields.features || fields.typefeatures) { %>
	      <thead>
		<th>Feature</th>
		<th>Weight</th>
	      </thead>
	      <tbody>
		<% _.each(fields.features, function(val, key) { %>
		  <tr>
		    <td><%- key %></td>
		    <td><%- val %></td>
		  </tr>
		<% }); %>
		<% _.each(fields.typefeatures, function(val, key) { %>
		  <tr>
		    <td><%- key %></td>
		    <td><%- val %></td>
		  </tr>
		<% }); %>
	      </tbody>
	    <% } %>
	  </table>
	</div>
      </div>
    </div>
  </div>
<% } %>
<% if (fields.interfaces) { %>
  <div class='col-lg-12 col-lg-offset-0
	      col-md-12 col-md-offset-0
	      col-sm-12 col-sm-offset-0'>
    <div>
      <div class='panel  card panel-default'>
	<div class='panel-heading card-header'>
	  <h3 class="panel-title card-title align-center">
	    <% if (fields.role != "testswitch" &&
	      fields.role != "ctrlswitch") { %>
	      Interface/Switch Info
	    <% } else { %>
	      Wire Info
	    <% } %>
	  </h3>
	</div>
	<div class="panel-body card-body">
	  <% if (fields.role != "testswitch" &&
	    fields.role != "ctrlswitch") { %>
	    <table class='table table-condensed table-bordered'>
	      <thead>
		<th>Iface</th>
		<th>Role</th>
		<th>Type</th>
		<th>Protocol</th>
		<th>MAC</th>
		<th>Speed/Mbs</th>
		<th>IP</th>
		<th>Switch</th>
		<th>Iface</th>
	      </thead>
	      <tbody>
		<% _.each(fields.interfaces, function(info) { %>
		  <tr>
		    <td><%- info.iface %></td>
		    <td><%- info.role %></td>
		    <td><%- info.type %></td>
		    <td><%- info.protocols %></td>
		    <td><%- info.mac %></td>
 		    <td>
		      <% if (info.current_speed != 0) { %>
			<%- info.current_speed %><% } %>
		    </td>
		    <td><%- info.IP %></td>
		    <% if (info.switch_id) {
		      var url = "show-node.php?node_id=" + info.switch_id;
		      if (info.switch_isswitch) {
			url += "#" + info.switch_card + ":" + info.switch_port;
		      }
		    %>
		      <% if (window.ISGUEST) { %>
			<td><%- info.switch_id %></td>
		      <% } else { %>
			<td><a href="<%- url %>"><%- info.switch_id %></a></td>
		      <% } %>
		      <td <%- (info.wire_type == 'Unused' ?
			       "class=text-danger" : "") %> >
			<%- info.switch_iface %>
			(<%- info.switch_card %>,<%- info.switch_port %>)</td>
		    <% } else { %>
		      <td></td>
		      <td></td>
		    <% } %>
		  </tr>
		<% }); %>
	      </tbody>
	    </table>
	  <% } else { %>
	    <div class="table-fixed">
	    <table class='table table-condensed table-bordered'>
	      <thead>
		<th>Type</th>
		<th>ID</th>
		<th>Len</th>
		<th>Node</th>
		<th>Experiment</th>
		<th>Iface</th>
		<th>Role</th>
		<th>Type</th>
		<th>Node</th>
		<th>Iface</th>
		<th>Role</th>
		<th>Type</th>
	      </thead>
	      <tbody>
		<% _.each(fields.interfaces, function(info) { %>
		  <tr>
		    <td><%- info.wire_type %></td>
		    <td>
		      <% if (info.wire_id) { %><%- info.wire_id %><% } %>
		    </td>
		    <td>
		      <% if (info.wire_length != 0) { %>
			<%- info.wire_length %><% } %>
		    </td>
		    <td>
		      <% if (info.node_id1 != fields.node_id) {
		      var url = "show-node.php?node_id=" + info.node_id1;
		      if (info.isswitch1) {
		      url = url + "#" + info.card1 + ":" + info.port1;
		      } %>
		        <a href="<%- url %>"><%- info.node_id1 %></a>
		      <% } else { %>
		        <%- info.node_id1 %>
		    <% } %>
		    </td>
		    <td>
		      <% if (_.has(info, "exptidx")) { %>
			<a href="<%- info.url %>"
			   target="_blank"><%- info.pid %>/<%- info.eid %></a>
		      <% } %>
		    </td>
		    <td><%- info.iface1 %>
		      <% if (info.isswitch1) { %>
			(<%- info.card1 %>,<%- info.port1 %>)
			<% if (info.node_id1 == fields.node_id) { %>
			  <span id='<% print(info.card1 + ":" +
				      info.port1) %>'></span>
			<% } %>
		      <% } %>
		    </td>
		    <td><%- info.role1 %></td>
		    <td><%- info.type1 %></td>
		    <td>
		      <% if (info.node_id2 != fields.node_id) {
			var url = "show-node.php?node_id=" + info.node_id2;
			if (info.isswitch2) {
			  url = url + "#" + info.card2 + ":" + info.port2;
			} %>
		      <a href="<%- url %>"><%- info.node_id2 %></a>
	              <% } else { %>
		       <%- info.node_id2 %>
	              <% } %>
		    </td>
		    <td><%- info.iface2 %>
		      <% if (info.isswitch2) { %>
			(<%- info.card2 %>,<%- info.port2 %>)
			<% if (info.node_id2 == fields.node_id) { %>
			  <span id='<% print(info.card2 + ":" +
				      info.port2) %>'></span>
			<% } %>
		      <% } %>
		    </td>
		    <td><%- info.role2 %></td>
		    <td><%- info.type2 %></td>
		  </tr>
              <% }); %>
	      </tbody>
	    </table>
	    </div>
	    <% } %>
	</div>
      </div>
    </div>
  </div>
<% } %>
<% if (_.has(fields, "vinterfaces") && fields.vinterfaces) { %>
  <div class='col-lg-12 col-lg-offset-0
	      col-md-12 col-md-offset-0
	      col-sm-12 col-sm-offset-0'>
    <div>
      <div class='panel  card panel-default'>
	<div class='panel-heading card-header'>
	  <h3 class="panel-title card-title">Virtual Interfaces</h3>
	</div>
	<div class="panel-body card-body">
	  <table class='table table-condensed table-bordered'>
	    <thead>
	      <th>Iface</th>
	      <th>Type</th>
	      <th>Link Name</th>
	      <th>MAC</th>
	      <th>IP</th>
	      <th>Vlan ID</th>
	      <th>Vlan Tag</th>
	    </thead>
	    <tbody>
	      <% _.each(fields.vinterfaces, function(info) { %>
		<tr>
		  <td><%- info.iface %></td>
		  <td><%- info.type %></td>
		  <td><%- info.vname %></td>
		  <td><%- info.mac %></td>
		  <td><%- info.IP %></td>
		  <% if (info.vlanid != 0) { %>
		    <td><a href="show-vlan.php?id=<%- info.vlanid %>"
			   target="_blank"><%- info.vlanid %></a></td>
		    <td><%- info.vlantag %></td>
		  <% } else { %>
		    <td></td>
		    <td></td>
		  <% } %>
		</tr>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
<% } %>
<% if (fields.vlans) { %>
  <div class='col-lg-8 col-lg-offset-2 offset-lg-2
	      col-md-8 col-md-offset-2 offset-md-2
	      col-sm-10 col-sm-offset-1 offset-sm-1'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
	<h3 class="panel-title card-title">Vlans</h3>
      </div>
      <div class='panel-body card-body'>
	<table class='table table-condensed table-bordered'>
	  <thead>
	    <tr>
	      <th>Iface</th>
	      <th>Vlan ID</th>
	      <th>Link Name</th>
	      <th>Tag</th>
	      <th>Stack</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(fields.vlans, function(vlans, iface) { %>
	      <% _.each(vlans, function(info, index) { %>
		<tr>
		  <td><%- iface %></td>
		  <td><a href="show-vlan.php?id=<%- info.id %>"
			 target="_blank"><%- info.id %></a></td>
		  <td><%- info.virtual %></td>
		  <td><%- info.tag %></td>
		  <td><%- info.stack %></td>
		</tr>
	      <% }); %>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
<% } %>
<% if (_.has(fields, "vnodes") && fields.vnodes) { %>
  <div class='col-lg-6 col-lg-offset-3 offset-lg-3
	      col-md-6 col-md-offset-3 offset-md-3
	      col-sm-8 col-sm-offset-2 offset-sm-2'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
	<h3 class="panel-title card-title">Containers</h3>
      </div>
      <div class='panel-body card-body'>
	<table class='table table-condensed table-bordered'>
	  <thead>
	    <tr>
	      <th>Node ID</th>
	      <th>Pid</th>
	      <th>Eid</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(fields.vnodes, function(info, node_id) { %>
	      <tr>
		<td><a href="show-node.php?node_id=<%- info.node_id %>"
		       target="_blank"><%- info.node_id %></a></td>
		<td><%- info.pid %></td>
		<td><%- info.eid %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
<% } %>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
<!-- Confirm reboot -->
<div id='confirm-reboot-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to Reboot node</h4>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-reboot-button'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='info-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<p>
	  A note about features and attributes; in general, sizes (like
	  disk and memory) are reported in megabytes (MB) and speed is
	  reported in megahertz (MHz).
	</p>
	<p>
	  There are several features that indicate how much disk space
	  a node has:
	  <ul>
	    <li> <b>?+disk_sysvol</b>: The size (in MB) of the root disk.
	      Note that the <em>root partition</em> is typically much smaller,
	      on the order of 16GB. But the rest of the disk is available to
	      use.
	    </li>
	    <li> <b>?+disk_nonsysvol</b>: The sum off all other disks
	      (not including the root disk).
	    </li>
	    <li> <b>?+disk_any</b>: The sum of all disks (root and secondary).
	    </li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
