<div class='row'>
  <div class='col-lg-8 col-lg-offset-2 offset-lg-2
              col-md-8 col-md-offset-2 offset-md-2
              col-sm-10 col-sm-offset-1 offset-sm-1
              col-xs-12'>
    <% if (!embedded) { %>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h3 class='panel-title card-title'><%= title %></h3>
      </div>
      <div class='panel-body card-body'>
    <% } %>
	<div class='row'>
	  <div class='col-sm-12'>
	    <table class='table table-condensed table-bordered'>
	      <tr>
		<td>Name</td>
		<td><%- formfields.dataset_name %></td>
	      </tr>
	      <tr>
		<td>Project</td>
		<td><a href='show-project.php?pid=<%= formfields.dataset_pid %>'>
		  <%- formfields.dataset_pid %></a></td>
	      </tr>
	      <% if (formfields.dataset_pid != formfields.dataset_gid) { %>
	        <tr>
		  <td>Group</td>
		  <td><%- formfields.dataset_gid %></td>
		</tr>
	      <% } %>
	      <tr>
		<td>Creator</td>
		<td><a href='user-dashboard.php?user=<%= formfields.dataset_creator %>'>
		  <%- formfields.dataset_creator %></a></td>
	      </tr>
	      <tr>
		<td>Size</td>
		<td><span id='dataset_size'>
		    <%- formfields.dataset_size %></span>MiB</td>
	      </tr>
	      <tr>
		<td>Type</td>
		<td><%- formfields.dataset_type_string %></td>
	      </tr>
	      <% if (formfields.dataset_type == "ltdataset") { %>
		<tr>
		  <td>Permanent</td>
		  <td>
		    <% if (formfields.dataset_permanent) { %>Yes<% } else { %>No<% } %>
		  </td>
		</tr>
	      <% } %>
	      <tr>
		<td>Created</td>
		<td class='format-date'><%- formfields.dataset_created %></td>
	      </tr>
	      <% if (formfields.dataset_type == "imdataset") { %>
		<tr>
		  <td>Updated</td>
		  <td class='format-date'><%- formfields.dataset_updated %></td>
		</tr>
	      <% } else { %>
	      <tr>
		<td>Expires</td>
		<td class='format-date'><%- formfields.dataset_expires %></td>
	      </tr>
	      <% } %>
	      <tr>
		<td>Last Used</td>
		<td class='format-date'><%- formfields.dataset_lastused %></td>
	      </tr>
	      <tr>
		<td>FS Type</td>
		<td><%- formfields.dataset_fstype %></td>
	      </tr>
	      <tr>
		<td>State</td>
		<td id='dataset_state'><%- formfields.dataset_state %>
		  <a href='#' 
     		     data-toggle='modal' data-bs-toggle='modal'
		     data-target='#state-descriptions'
		     data-bs-target='#state-descriptions'>
		    <span style="font-size: 10px; vertical-align: middle;">
		      Info about dataset states</span></a>
		</td>
	      </tr>
	      <tr>
		<td>Read Access</td>
		<td><%- formfields.dataset_read %></td>
	      </tr>
	      <tr>
		<td>Write Access</td>
		<td><%- formfields.dataset_write %></td>
	      </tr>
	      <tr>
		<td>URN</td>
		<td>
		  <input onClick="this.select();"
			 class='form-control'
			 readonly
			 value='<%- formfields.dataset_urn %>'>
		</td>
	      </tr>
	      <% if (_.has(formfields, 'dataset_url')) { %>
	      <tr>
		<td>URL</td>
		<td>
		  <input onClick="this.select();"
			 class='form-control'
			 readonly
			 value='<%- formfields.dataset_url %>'>
		</td>
	      </tr>
	      <% } %>
	      <% if (_.has(formfields, 'dataset_idx')) { %>
	      <tr>
		<td>Internal ID</td>
		<td><%- formfields.dataset_idx %></td>
	      </tr>
	      <% } %>
	    </table>
	  </div>
	</div>
	<div class='pull=left'>
 	<% if (candelete) { %>
	  <button class='btn btn-danger btn-sm'
                  id='dataset_delete_button'
                  style='margin-right: 10px;'
     		  data-toggle='modal' data-bs-toggle='modal'
		  data-target='#delete_modal' data-bs-target='#delete_modal'
                  type='button' name='delete'>Delete
	  </button>
	<% } %>
 	<% if (canrefresh) { %>
	  <button class='btn btn-primary btn-sm'
                  id='dataset_refresh_button'
                  style='margin-right: 10px;'
		  data-toggle='popover' data-bs-toggle='popover'
		  data-content="Click to get updated information
				from the dataset server."
                  type='button'>Refresh
	  </button>
	<% } %>
 	<% if (canapprove && formfields.dataset_state == "unapproved") { %>
	  <button class='btn btn-primary btn-sm'
                  id='dataset_approve_button'
                  style='margin-right: 10px;'
     		  data-toggle='modal' data-bs-toggle='modal'
		  data-target='#approve_modal' data-bs-target='#approve_modal'
                  type='button' name='approve'>Approve
	  </button>
	<% } %>
 	<% if (candelete) { %>
	  <a class='btn btn-primary btn-sm'
                  id='embedded-anchors'
                  style='margin-right: 10px;'
	          href='edit-dataset.php?uuid=<%- formfields.dataset_uuid %>'
		  data-toggle='popover' data-bs-toggle='popover'
		  data-content="Modify dataset settings."
                  type='button'>Modify
	  </a>
	  <% if (formfields.dataset_state == "grace") { %>
	    <a class='btn btn-primary btn-sm'
               id='dataset_extend_button'
               style='margin-right: 10px;'
	       data-toggle='modal' data-bs-toggle='modal'
	       data-target='#extend_modal' data-bs-target='#extend_modal'
	       data-toggle='popover' data-bs-toggle='popover'
	       data-content="Request an extension to expiration date."
               type='button'>Extend
	    </a>
	  <% } %>
	<% } %>
 	<% if (cansnapshot) { %>
	  <button class='btn btn-primary btn-sm'
                  id='dataset_snapshot_button'
                  style='margin-right: 10px;'
		  data-toggle='popover' data-bs-toggle='popover'
		  data-content="Take a new snapshot of the dataset
		  contents. Click for more info."
                  type='button'>Snapshot
	  </button>
	<% } %>
	  <a type=button class='btn btn-info btn-sm'
                  id='embedded-anchors'
	          href='list-datasets.php'
                  style='margin-right: 10px;'>Back to List
	  </a>
	</div>
    <% if (!embedded) { %>
      </div>
    </div>
    <% } %>
    <!-- place to hang the modals for now -->
    <!-- Confirm Deletion -->
    <div id='delete_modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <center>
	      <h4>Confirm to Delete</h4>
              <button class='btn btn-danger btn-sm confirm-button'
		      id='delete-confirm'
		      type='button' name='delete'>
		Confirm</button>
              <button class='btn btn-default btn-sm cancel-button'
		      data-dismiss='modal' data-bs-dismiss='modal'>
		Cancel</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
    <!-- Confirm Approval -->
    <div id='approve_modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <center>
	      <h4>Confirm to Approve</h4>
              <button class='btn btn-danger btn-sm confirm-button'
		 id='approve-confirm'
		      type='button' name='approve'>
		Confirm</button>
              <button class='btn btn-default btn-sm cancel-button'
		      data-dismiss='modal' data-bs-dismiss='modal'>
		Cancel</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
    <!-- Confirm Extension -->
    <div id='extend_modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <center>
	      <h4>Confirm to Extend</h4>
              <button class='btn btn-danger btn-sm confirm-button'
		      id='extend-confirm'
		      type='button' name='approve'>
		Confirm</button>
              <button class='btn btn-default btn-sm cancel-button'
		      data-dismiss='modal' data-bs-dismiss='modal'>
		Cancel</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
    <!-- State descriptions -->
    <div id='state-descriptions' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class="modal-header text-center">
            <button type='button' class='close btn-close'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    aria-hidden='true'></button>
	    <center>
	      <h4 class="panel-title card-title">
		Dataset States Explained</h4></center>
	  </div>
	  <div class='modal-body'>
	    <dl class="dl-horizontal">
	      <dt>valid</dt>
	      <dd>Dataset is ready to use.</dd>
	      
	      <dt>unapproved</dt>
	      <dd>Your dataset needs to be approved by an
		administrator before it can be used. You will receive
		email when that happens.</dd>

	      <dt>allocating</dt>
	      <dd>The target cluster is still creating your dataset.
		If you requested a file system, this might take a few
		minutes. You will receive email when allocation is
		complete and you can start an experiment using your
		dataset.</dd>

	      <dt>grace</dt>
	      <dd>A Dataset enters the grace state either because it
		reached the explicit end date, or because it has been
		idle (not used) for too long. In the grace state, your
		dataset can be used read-only. It can also be <em>extended</em>
		by clicking on the <b>Extend</b> button, which will move it
		back to the valid state so you can use it normally.</dd>

	      <dt>locked</dt>
	      <dd>Once the grace period expires, datasets can enter
	      the locked state for a time, giving the owner another
	      opportunity to save it from destruction. The dataset
	      cannot be used or extended, you must contact the support
	      staff to unlock it for use (or extension).</dd>

	      <dt>expired</dt>
	      <dd>Datasets enter the expired state to be reclaimed by
		the storage reaper. This is done automatically if the
		dataset stays in the grace or locked state for too
		long, which indicates that it is no longer of any use
		to the owner.</dd>
	    </dl>	    
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div id='imaging_div'></div>
  <div id='snapshot_div'></div>
  <div id='oops_div'></div>
  <div id='waitwait_div'></div>
</div>
