<style>
.popover {
    max-width: none;
}
</style>
<div class='row'>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'>Show Profile</h4>
      </div>
      <div class='panel-body card-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table table-condensed table-sm
		      table-borderless nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- fields.profile_name %></td>
	  </tr>
	  <% if (!fromrepo) { %>
	    <tr>
	      <td>Version:</td><td>
		<% if (history) { %>
		  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- fields.profile_version %></a>
		<% } else { %>
		  <%- fields.profile_version %>
		<% } %>
		<% if (version_uuid != fields.latest_uuid) { %>
		  (Latest:
		  <a href='show-profile.php?uuid=<%= fields.latest_uuid %>'>
		    <%- fields.latest_version %></a>)
		<% } %>
		
	      </td>
	    </tr>
	  <% } %>
	  <% if (!isguest) { %>
	    <tr>
	      <td>Project:</td>
	      <td>
		<% if (isadmin) { %>
		  <a href='show-project.php?pid=<%= fields.profile_pid %>'>
		    <%- fields.profile_pid %></a>
		<% } else { %>
		  <%- fields.profile_pid %>
		<% } %>
	      </td>
	    </tr>
	  <% } %>
	  <tr>
	    <td>Creator:</td>
	    <td>
	      <% if (isadmin) { %>
		<a href='user-dashboard.php?user=<%= fields.profile_creator %>'>
		  <%- fields.profile_creator %></a>
	      <% } else { %>
		<%- fields.profile_creator %>
	      <% } %>
	    </td>
	  </tr>
	  <% if (!isguest) { %>
	    <% if (fields.profile_version != 0) { %>
	      <tr>
		<td>Updated by:</td>
		<td>
		  <% if (isadmin) { %>
		    <a href='user-dashboard.php?user=<%= fields.profile_updater %>'>
		      <%- fields.profile_updater %></a>
		  <% } else { %>
		    <%- fields.profile_updater %>
		  <% } %>
		</td>
	      </tr>
	    <% } %>
	  <% } %>
	  <tr>
	    <% if (fields.profile_version == 0 || fromrepo) { %>
	      <td>Created:</td>
	    <% } else { %>
	      <td>Updated:</td>
	    <% } %>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- fields.profile_created %></td>
	  </tr>
	  <tr>
	    <td>Public:</td>
	    <td>
	      <span id="profile-public">
		<% if (fields.profile_public) { %>Yes<% } else { %>No<% } %>
	      </span>
	      <% if (canedit) { %>
		(<a href="#" class="profile-share-button"
		    data-toggle='popover' data-bs-toggle='popover'
		    data-content='Normally only project members can view and
				  instantiate your profile. You can change this
				  setting to allow others to access your profile.'
		 >change this setting</a>)
	      <% } %>
	    </td>
	  </tr>
	  <tr>
	    <td>Writable:</td>
	    <td>
	      <span id="profile-project-write">
		<% if (fields.profile_project_write) { %>
		  Project Members
		<% } else { %>
		  Profile Creator
		<% } %>
	      </span>
	      <% if (isadmin || iscreator || isleader) { %>
		(<a href="#" id="profile-project-write-button"
		    data-toggle='popover' data-bs-toggle='popover'
		    data-content='Normally only you or your project leader
				  can modify your profile. You can change
				  this setting to allow anyone in your project
				  to modify this profile.'
		 >change this setting</a>)
	      <% } %>
	    </td>
	  </tr>
	  <% if (fromrepo) { %>
	    <tr>
	      <td>Refspec:</td>
	      <td id="current-refspec"><%- fields.profile_refspec %></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td id="current-refhash"><%- fields.profile_refhash.substring(0,8) %></td>
	    </tr>
	  <% } %>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <td id='profile_published' class='format-date'>
	      <%- fields.profile_published %></td>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover' data-bs-toggle='popover'
		   data-html='true' data-bs-html='true'
		   data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<div>
	  <% if (history) { %>
	    <a class='btn btn-info btn-xs'
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-history.php?uuid=<%= profile_uuid %>'
               type='button'>Version History
	    </a>
	  <% } %>
	  <% if (activity) { %>
	    <a class='btn btn-info btn-xs '
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-activity.php?uuid=<%= profile_uuid %>'
               type='button'>Activity
	    </a>
	  <% } %>
	  <% if (paramsets) { %>
	    <a class='btn btn-info btn-xs '
               id='profile_history_button'
               style='margin-right: 5px; font-size-foo: 12px'
               href='profile-paramsets.php?uuid=<%= profile_uuid %>'
               type='button'>Paramsets
	    </a>
	  <% } %>
	</div>
      </div>
    </div>
    <% if (fromrepo) { %>
      <div class='panel  card panel-default hidden' id="repoinfo-panel">
	<div class='panel-heading card-header'>
          <h4 class='panel-title card-title text-center'>Repository Info</h4>
	</div>
	<div class='panel-body card-body'
	     style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	  <table class='table table-condensed table-sm
			table-borderless nospaceafter'
		 style='font-size:12px;'>
	    <tr>
	      <td>Refspec:</td>
	      <td class="commit-refspec"></td>
	    </tr>
	    <tr>
	      <td>Commit:</td>
	      <td class="commit-hash"></td>
	    </tr>
	    <tr>
	      <td>Date:</td>
	      <td class="commit-date"></td>
	    </tr>
	    <tr>
	      <td>Author:</td>
	      <td class="commit-author"></td>
	    </tr>
	    <tr>
	      <td>Est. Size:</td>
	      <td class="commit-size"></td>
	    </tr>
	    <% if (isadmin) { %>
	      <tr>
		<td>RepoName:</td>
		<td class="commit-reponame" style="font-size: 60%;"></td>
	      </tr>
	    <% } %>
	    <tr>
	      <td>Log:</td>
	      <td class="commit-log">
		<span class="commit-log-start"></span>
		<button type="button" class="hidden log btn btn-xs"
			data-toggle='popover' data-bs-toggle='popover'
			data-html="true" data-bs-html="true"
			data-delay='{"hide":1000, "show":250}'
			data-bs-delay='{"hide":1000, "show":250}'>...</button>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    <% } %>
    <% if (! isguest) { %>
      <div style="margin-top-foo: 10px;" class="text-center">
	<% if (!disabled && (canedit || fields.profile_public != 0)) { %>
	  <span data-toggle='popover' data-bs-toggle='popover'
		data-delay='{"show":250}' data-bs-delay='{"show":250}'
		data-html='true' data-bs-html='true'
		data-content="Share this profile with other users.
			      Click for more info.">
	    <button class='btn btn-success btn-sm profile-share-button'
		    style='margin-right: 5px;'
		    type='button'>
	      Share
	    </button>
	  </span>
	<% } %>
	<% if (canedit) { %>
	  <a class='btn btn-primary btn-sm'
             style='margin-right: 5px;'
             type='button'
	     href='manage_profile.php?action=edit&uuid=<%= version_uuid %>'>
            Edit
	  </a>
	<% } %>
	<% if (! disabled) { %>
	  <% if (window.CANCOPY) { %>
	    <button id="copy-profile-button"
		    class='btn btn-primary btn-sm'
		    style='margin-right: 5px;'
		    <% if (fromrepo) { %>
     		    data-toggle='modal' data-bs-toggle='modal'
		    data-target='#copy-repobased-profile-modal' data-bs-target='#copy-repobased-profile-modal'
		    <% } %>
		    type='button'>Copy</button>
	  <% } %>
	  <% if (gotrspec) { %>
	    <% 	var url = "instantiate.php?profile=" + window.PROFILE +
	    "&from=manage-profile"; %>
	    <a class='btn btn-primary btn-sm'
	       href="<%- url %>"
	       id='profile_instantiate_button'
	       style='margin-right: 5"px;'
	       name='create'>Instantiate
	    </a>
	  <% } %>
	<% } %>
      </div>
    <% } %>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'>
	  Profile <%- fields.profile_pid %>/<%- fields.profile_name %></h4>
      </div>
      <div class='panel-body card-body'>
	<form id="profile-form" class='form-horizontal' role='form'
	      data-format="wide">
	  <fieldset>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_rspec' data-label='Topology'>
		<div class='row'>
                  <div class='col-xs-12'>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='edit_topo_modal_button'>
                      Visualize</button>
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    style='margin-right: 10px;'
			    id='show_source_modal_button'>
                      View Source</button>
		    <button class='btn btn-primary btn-xs hidden'
			    type='button'
			    style='margin-right: 10px;'
			    id='show_xml_modal_button'>
                      View XML</button>
		  </div>
		</div>
	      </div>
	    </div>
	    <% if (fromrepo) { %>
	      <div class="form-group">
		<div class='form-control format-me'
		     style="height: auto;"
		     id="profile_repourl"
		     data-key='profile_repourl' data-label='Repository'>
		  <%- fields.profile_repourl %>
		</div>
	      </div>
	    <% } %>
	    <div class="form-group">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_description"
		   data-key='profile_description' data-label='Description'>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_instructions"
		   data-key='profile_instructions' data-label='Instructions'>
	      </div>
	    </div>
	    <div class="form-group hidden">
	      <div class='form-control format-me'
		   style="height: auto;"
		   id="profile_parameters"
		   data-key='profile_parameters' data-label='Parameters'>
	      </div>
	    </div>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
  <!-- place to hang the modals  -->
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='rspectext_div'></div>
  <div id='share_div'></div>
  <div id='share-profile-modal-div'></div>
  <div id='copy_repobased_profile_div'></div>
  <div id='copy-profile-modal-div'></div>
  <div id='showtopo-modal-div'></div>
</div>
<div class='row hidden' id="gitpicker-div">
  <div class='col-sm-9 col-sm-offset-3 offset-sm-3 col-xs-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h4 class='panel-title card-title text-center'>Repository Branches and Tags</h4>
      </div>
      <div id="gitrepo-picker" class='panel-body card-body'>
      </div>
    </div>
  </div>
</div>
<textarea name="formfields[profile_rspec]"
	  id='profile_rspec_textarea'
          class='form-control hidden'
          type='textarea'
	  data-key='profile_rspec'
	  rows=5><%- fields.profile_rspec %></textarea>
<textarea name="formfields[profile_script]"
	  id='profile_script_textarea'
          class='form-control hidden'
          type='textarea'
	  data-key='profile_script'
	  rows=5><%- fields.profile_script %></textarea>

  
