<div class="container">
  <div class="row mb-2">
    <div class="col-sm-auto">
      <div id='output_dropdown'></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-auto">
      <div id="utilization-table-div"></div>
    </div>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
