<style>
 /* Style for Custom Tooltip */
 div.tooltip {   
     position: absolute;           
     text-align: center;           
     width: 100px;                  
     height: 35px;                 
     padding: 2px;             
     font: 12px sans-serif;        
     background: white;   
     border: 1px solid black;
     border-radius: 8px;
     pointer-events: none;         
 }
</style>
<% if (!window.EMBEDDED) { %>
  <center>
<% } %>
   <div id="states-map" class="hidden"></div>
   <div id="country-map" class="hidden" style="margin-top: 10px;"></div>
<% if (!window.EMBEDDED) { %>
  </center>
<% } %>
