<div class='row'>
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <div class='panel panel-default card'>
      <div class='panel-body card-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="nav-item">
		  <a href="#experiments" id="usertab-experiments" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Experiments</a></li>
		<li role="presentation">
		  <a href="#profiles" id="usertab-profiles" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Profiles</a></li>
		<li role="presentation">
		  <a href="#projectprofiles" id="usertab-projectprofiles" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Project Profiles</a></li>
		<% if (disabledset == 0 || (disabledset == 1 && isadmin) ) { %>
		<li role="presentation">
		  <a href="#datasets" id="usertab-datasets" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Datasets</a></li>
		<% } %>
		<%  if (disabledres == 0 || (disabledres == 1 && isadmin) ) { %>
		  <li role="presentation">
		    <a href="#resgroups" id="usertab-resgroups" role="tab" class="nav-link"
		       data-bs-toggle="tab" data-toggle="tab">
		      Reservations</a></li>
		<% } %>
		<li role="presentation" class="hidden resources-hidden">
		  <a href="#resources" id="usertab-resources" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Resources</a></li>
		<li role="presentation" class="hidden paramsets-hidden">
		  <a href="#paramsets" id="usertab-paramsets" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Parameter Sets</a></li>
		<li role="presentation">
		  <a href="#membership" id="usertab-membership" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Membership</a></li>
		<li role="presentation">
		  <a href="#usage" id="usertab-usage" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">Usage</a></li>
		<li role="presentation">
		  <a href="#myprofile" id="usertab-myprofile" role="tab" class="nav-link"
		     data-bs-toggle="tab" data-toggle="tab">
		    Account</a></li>
		<% if (isadmin) { %>
		  <li role="presentation">
		    <a href="#admin" id="usertab-admin" role="tab" class="nav-link"
		       data-bs-toggle="tab" data-toggle="tab">
		      Admin</a></li>
		  <li role="presentation"
		      class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle"
		       data-bs-toggle="dropdown" data-toggle="dropdown"
		       href="#" role="button">
		      Admin Menu<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <li><a href="activity.php?user=<%= target_user %>"
			     class='dropdown-item'>
			Experiment History</a></li>
		      <% if (disabledres < 2) { %>
			<li><a href="resgroup-history.php?user=<%= target_user %>"
			       class='dropdown-item'>
			Reservation History</a></li>
                      <% } %>
		      <li><a href="ssh-keys.php?user=<%= target_user %>"
			     class='dropdown-item'>
			Manage SSH Keys</a></li>
		      <li><a href="myaccount.php?user=<%= target_user %>"
			     class='dropdown-item'>
			Manage Account</a></li>
		      <li><a href="changepswd.php?user=<%= target_user %>"
			     class='dropdown-item'>
			Change Password</a></li>
		      <% if (disabledset < 2) { %>
			<li><a href="list-datasets.php?user=<%= target_user %>"
			       class='dropdown-item'>
			List Datasets</a></li>
		      <% } %>
		      <li><a href="list-images.php?user=<%= target_user %>"
			     class='dropdown-item'>
			List Images</a></li>
                      <li class='divider'></li>
		      <li><a role="button" id="sendtestmessage"
			     class='dropdown-item'>
			Verify Email Address</a></li>
		      <li><a role="button" id="sendpasswordreset"
			     class='dropdown-item'>
			Send Password Reset</a></li>
		      <li><a role="button" id="sendmessage"
			     class='dropdown-item'>
			Send Email Message</a></li>
		      <li><a href="suuser.php?user=<%= target_user %>"
			     class='dropdown-item'>
			<span class="text-danger">SU as User</span></a></li>
		      <li><a href="#" data-toggle='modal' data-bs-toggle='modal'
			     data-target='#confirm-deleteuser-modal'
			     data-bs-target='#confirm-deleteuser-modal'
			     class='dropdown-item'>
			<span class="text-danger">Delete User</span></a></li>
		      <li role="presentation">
			<a href='<%- emulablink %>'
			   class='dropdown-item'>
			  Emulab User Page</a></li>
		    </ul>
		  </li>
		<% } %>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="experiments">
		  <div id="experiments_content">
		    <div id="experiments_loading">
		      <br>
		      <br>
		      <center>Loading
			<div>
			  <img src='images/spinner.gif' />
			</div>
		      </center>
		    </div>
		    <div class="hidden" id="experiments_noexperiments">
		      <br>
		      You do not have any active experiments. Click 
		      <b><a href='instantiate.php'>here</a></b> to create one.
		    </div>
		  </div>
		  <br>
		  <div id="project_experiments_content"></div>
		  <div id="classic_experiments_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div id="profiles_content">
	      	    <div class="hidden" id="profiles_noprofiles">
		      <br>
		      You have not created any experiment profiles. You can either <b><a href='instantiate.php'>instantiate</a></b> an experiment with an existing profile or
		      <b><a href='manage_profile.php'>create a new profile</a></b>.
		    </div>
		  </div>
		  <br>
		  <div id="classic_profiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="projectprofiles">
		  <div id="projectprofiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="datasets">
		  <div id="datasets_content">
	      	    <div class="hidden" id="datasets_nodatasets">
		      <br>
		      You do not have any datasets. Click 
		      <b><a href='create-dataset.php'>here</a></b> to create one.
		    </div>
		  </div>
		  <div id="classic_datasets_content" class="hidden">
		    <center><h4>Classic Datasets</h4></center>
		    <div id="classic_datasets_content_div"></div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="resgroups">
		  <div id="resgroups_content">
	      	    <div class="hidden mb-2" id="resgroups_noresgroups">
		      <br>
		      You do not have any reservations. Click 
		      <b><a href='reserve.php'>here</a></b> to create one.
		    </div>
		  </div>
		  <div id="project_resgroups" class="hidden">
		    <center><h4>Other Reservations in my Projects</h4></center>
		    <div id="project_resgroups_content"></div>
		  </div>
 		</div>
		<div role="tabpanel" class="tab-pane hidden resources-hidden"
		     id="resources">
		  <div id="resources_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane hidden paramsets-hidden"
		     id="paramsets">
		  <div id="paramsets_content">
	      	    <div class="hidden" id="paramsets_noparamsets">
		      <br>
		      <p>
			You do not have any parameter sets.
		      </p>
		      <p>
		      You can create a
		      <em>parameter set</em> from the activity listing for
		      any <em>parameterized</em> profile you have
		      instantiated in the past, or from the status page for
		      any of your currently running experiments.
		      Just click on the
		      "Save Parameters" button and provide a name
		      and description. The next time you instantiate
		      that profile, there will be an option to apply the saved
		      parameters. You can save multiple parameters sets for
		      a profile, just give them unique names.
		      </p>
		    </div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="membership">
		  <div id="membership_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="usage">
		  <div id="usage_content">
	      	    <div class="hidden" id="usage_nousage">
		      <br>
		      You do not have any usage data yet. Time to get busy!
		    </div>
		    <table class='table table-condensed table-bordered'
			   id='usage_table'>
		      <tbody></tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="myprofile">
		  <div id="myprofile_content"></div>
		</div>
		<% if (isadmin) { %>
		  <div role="tabpanel" class="tab-pane" id="admin">
		    <div id="admin_content"></div>
		  </div>
		<% } %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Freeze or Thaw -->
<div id='confirm-freezethaw-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to <span class="which"></span></h4>
	  Additional text to send (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-freezethaw'>Confirm</button>
          <button class='btn btn-primary btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
		  id='cancel-freezethaw'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Delete User -->
<div id='confirm-deleteuser-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to delete user</h4>
	  <div>
	    <div class="checkbox centered">
	      <label>
		<input type="checkbox"
  		    onchange="$('#confirm-deleteuser').removeAttr('disabled');">
		Check this box too!
	      </label>
	    </div>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button' disabled
		  id='confirm-deleteuser'>Confirm</button>
          <button class='btn btn-primary btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='delete-paramset-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center>
	  <h4 class="modal-title">Confirm to delete parameter set</h4>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete-paramset'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
		  id='cancel-delete-paramset'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- This is the terminate modal -->
<div id='terminate-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <p>Are you sure you want to terminate this experiment? 
          Click on the button below if you are really sure.
	</p>
	<br>
	<center>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='terminate-confirm'
                  type='submit' name='terminate'>Terminate</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='sendemail-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Send email message to user</span></h4>
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-sendemail'>Send</button>
          <button class='btn btn-primary btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='conversion_help_div'></div>
<div id='profile-imagelist-modal-div'></div>
<div id='confirm-delete-profile-div'></div>
<div id='showtopo-modal-div'></div>
