<style>
.toggle {
    cursor: pointer;
}
.freeze {
    cursor: pointer;
}
</style>
<div>
  <table class='table table-condensed table-bordered'>
    <tr>
      <td>Username</td>
      <td><%- fields.uid %>
	<% if (isadmin) { %> (<%- fields.uid_idx %>)<% } %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= fields.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><a href="mailto:<%= fields.email %>"><%= fields.email %></a></td>
    </tr>
    <tr>
      <td>Affiliation</td>
      <td><%= fields.affiliation %></td>
    </tr>
    <tr>
      <td>Job Title</td>
      <td><%= fields.title %></td>
    </tr>
    <% if (window.ISPOWDER) { %>
      <% if (fields.address1 != "") { %>
	<tr>
	  <td>Address</td>
	  <td><%= fields.address1 %></td>
	</tr>
      <% } %>
      <% if (fields.address2 != "") { %>
	<tr>
	  <td>Address Line 2</td>
	  <td><%= fields.address2 %></td>
	</tr>
      <% } %>
    <% } %>
    <tr>
      <td>Country</td>
      <td><%= fields.country %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= fields.state %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= fields.city %></td>
    </tr>
    <% if (window.ISPOWDER) { %>
      <% if (fields.zip != "") { %>
	<tr>
	  <td>Zip/Postal Code</td>
	  <td><%= fields.zip %></td>
	</tr>
      <% } %>
    <% } %>
    <tr>
      <td>Default Shell</td>
      <td><%= fields.shell %></td>
    </tr>
    <tr>
      <td>Last Login</td>
      <td class="format-date"><%= fields.last_weblogin %></td>
    </tr>
    
    <% if (isadmin) { %>
      <tr>
	<td>Logged in now?</td>
	<td><% if (fields.loggedin) { %>
	  Yes (<a href="#" id="force-user-logout">Force logout</a>)
	<% } else { %>
	  No
	<% } %></td>
      </tr>
      <% if (_.size(fields.loggedinIPs)) { %>
	<tr>
	  <td>IP(s)</td>
	  <td><% print(_.keys(fields.loggedinIPs).join(", ")); %></td>
	</tr>
	<% _.each(fields.loggedinIPs, function (when, ip) { %>
	  <tr>
	    <td><%= ip %></td>
	    <td class="format-date"><%= when %></td>
	  </tr>
	<% }) %>
      <% } %>
      <% if (fields.portal) { %>
	<tr>
	  <td>Portal</td>
	  <td><%= fields.portal %></td>
	</tr>
	<% if (window.MAINSITE) { %>
	  <tr>
	    <td>Bound to Portal</td>
	    <td><% if (fields.bound_portal) { %>Yes<% } else { %>No<% } %>
	      (<a class="toggle" data-name="bound_portal">Toggle</a>)
	    </td>
	  </tr>
	<% } %>
      <% } %>
      <tr>
	<td>Created</td>
	<td class="format-date"><%= fields.created %></td>
      </tr>
      <% if (fields.modified) { %>
	<tr>
	  <td>Updated</td>
	  <td class="format-date"><%= fields.modified %></td>
	</tr>
      <% } %>
      <tr>
	<td>Affiliation Matched</td>
	<td><% if (fields.affil_matched) { %>Yes<% } else { %>No<% } %></td>
      </tr>
      <% if (fields.affil_updated) { %>
	<tr>
	  <td>Affiliation Updated</td>
	  <td class="format-date"><%= fields.affil_updated %></td>
	</tr>
      <% } %>
      <% if (fields.pswd_expires) { %>
	<tr>
	  <td>Password Expires</td>
	  <td class="format-date"><%= fields.pswd_expires %></td>
	</tr>
      <% } %>
      <tr>
	<td>Status</td>
	<td><%= fields.status %>
	  <span class="freezethaw hidden">
	    (<a class="freeze text-danger">foo</a>)
	  </span>
	</td>
	<% if (fields.status == "frozen") { %>
	  <tr>
	    <td>Frozen on (by)</td>
	    <td><%= moment(fields.frozen_stamp).format("lll") %>
	      (<%= fields.frozen_by %>)</td>
	  </tr>
      <% } %>
      <% if (fields.nonlocal_id != "") { %>
	<tr>
	  <td>Nonlocal ID</td>
	  <% if (fields.bound_portal) { %>
	    <td></td>
	  <% } else { %>
	    <td><%= fields.nonlocal_id %>
	      <% if (window.MAINSITE) { %>
		(<a class="toggle" data-name="nonlocal_id">Convert to local user</a>)
	      <% } %>
	    </td>
	  <% } %>
	</tr>
      <% } %>
      <tr>
	<td>Administrator</td>
	<td><% if (fields.admin) { %>
	  <span class="text-danger">Yes</span><% } else { %>No<% } %>
	  (Be very careful with this
	  <a class="toggle" data-name="admin">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Foreign Admin</td>
	<td><% if (fields.foreign_admin) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="foreign_admin">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Expert Mode</td>
	<td><% if (fields.expert_mode) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="expert_mode">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Studly</td>
	<td><% if (fields.stud) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="stud">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Web Frozen</td>
	<td><% if (fields.web_frozen) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="web_frozen">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Inactive</td>
	<td><% if (fields.inactive) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="inactive">Toggle</a>)
	</td>
      </tr>
      <% _.each(fields.scopus_info, function (info) { %>
	<tr>
	  <td>Scopus Profile (<%= info.scopus_id %>)
	    <% if (info.validation_state == "valid") { %>
	      <span class="glyphicon glyphicon-thumbs-up"></span>
	    <% } else if (info.validation_state == "unknown") { %>
	      <span class="glyphicon glyphicon-question-sign"></span>
	    <% } else if (info.validation_state == "invalid") { %>
	      <span class="glyphicon glyphicon-thumbs-down"></span>
	    <% } %>
	  </td>
	  <td><a href="<%= info.author_url %>" target="_blank">
	    <%= info.author_url.substr(0, 23) %>...</a></td>
	</tr>
      <% }); %>
    <% } else { %>
      <% _.each(fields.scopus_info, function (info) { %>
	<% if (info.validation_state == "valid") { %>
	  <tr>
	    <td>Scopus Profile (<%= info.scopus_id %>)</td>
	    <td><a href="<%= info.author_url %>" target="_blank">
	      <%= info.author_url.substr(0, 23) %>...</a></td>
	  </tr>
	<% } %>
      <% }); %>
    <% } %>
  </table>
</div>
