<div class="panel  card panel-default hidden">
  <!-- heading padding cause of the popover subtitle below -->
  <div class='panel-heading card-header text-center'
       style="padding: 5px;">
    <div class="pull-left zoom-control" style="font-size: 18px;">
      <a href="#" class="zoom-in">
	<span class="glyphicon glyphicon-zoom-in"></span>
      </a>	    
      <a href="#" class="zoom-out">
	<span class="glyphicon glyphicon-zoom-out"></span>
      </a>
      <a href='#'
	 data-toggle='popover' data-bs-toggle='popover'
	 data-html='true' data-bs-html='true'
	 data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
	 data-content='In addition to the zoom in/out buttons to the left,
		       you can double click in the graph to zoom/recenter.
		       You can also click-drag to pan left or right after
		       zooming in.
		       Areas in <span style="color: blue"><b>blue</b></span>
		       denote an existing but unapproved reservation that
		       might conflict with your request.'>
	<span class='glyphicon glyphicon-question-sign'></span>
      </a>
    </div>
    <div class="pull-right right-side"></div>
    <div style="display: inline-block;">
      <h5 class="panel-title card-title card-title-small">      
	<%= title %></h5>
      <div>
	<span class=small style="color:blue;">
          <a href="#" onclick="event.preventDefault();"
	     data-toggle='popover' data-bs-toggle='popover'
	     data-html='true' data-bs-html='true'
	     data-placement="auto" data-bs-placement="auto"
	     data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
	     data-content='Areas in <span style="color: blue"><b>blue</b></span>
			   denote an existing but unapproved reservation that
			   might conflict with your request. Reservations are
			   approved in the order they are submitted, so submitting
			   a request for a time that already has a pending
			   reservation (the areas in blue) will almost certainly
			   result in a request that will be denied later.'>
	    More info about areas in blue
	  </a>
	</span>
      </div>
    </div>
  </div>
  <div class='panel-body card-body visavail' style="padding: 2px;"
       id="<%= id %>-graph-body">
    <div id="<%= id %>-graph-visavail" class="visavail-graph"></div>
  </div>
</div>
