/*
 * For compat with Bootstrap 5 until all of the close buttons are updated.
 */
.btn-close:after {
    content: "X";
}

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
    border-top: 0;
}
